
@using Siesa.SDK.Frontend.Components.Visualization
@using Siesa.SDK.Components.Visualization
@inject SDKNotificationService SDKNotificationService
@inject SDKDialogService SDKDialogService
@inject DialogService DialogService
@layout EmptyLayout

<div class="container-fluid">
    <div class="container-fluid">
            <h2>SDKProgessBar</h2> 
            <p>Demonstration and configuration of the SDKProgessBar component</p> 
    </div>
    <div class="row px-3"> 
        <div class="col-md-6 p-3">
            <SDKCard>
                <h3>ProgressBar in determinate mode</h3>
                <SDKProgressBar Value="@valor" />
            </SDKCard>
        </div>
        <div class="col-md-6 p-3">
            <SDKCard>
                <h3>ProgressBar in max value > 100</h3>
                <SDKProgressBar Value="@valor2" Max="100" />
            </SDKCard>
        </div>

        <div class="col-md-6 p-3">
            <SDKCard>
                <h3>ProgressBar Range Color</h3>

                <SDKProgressBar Value="@valor3" Max="100" ShowRangeColor="true"/>

                <SDKRangeSlider MinRange="0" MaxRange="100" @bind-Value="@valor3" />
            </SDKCard>
        </div>

        <div class="col-md-6 p-3">
            <SDKCard>
                <h3>ProgressBar Onchange</h3>
                
                <SDKProgressBar Value="@valor4" ValueChanged="OnChangeValue" Max="100"/>

                <SDKRangeSlider MinRange="0" MaxRange="100" @bind-Value="@valor4" Step="20" />
            </SDKCard>
        </div>
        
    </div>
</div>

@code {
    double valor = 75;
    double valor2 = 50;
    double valor3 = 0;
    double valor4 = 100;

    public void OnChangeValue(double value)
    {
       SDKNotificationService.ShowSuccess($"Change value to {value}");
    }

}