@using Siesa.SDK.Frontend.Components.Visualization

<div class="container-fluid">
    <div class="container-fluid">
        <h2>SDKImageViewer</h2> 
        <p>Demostracion uso de componente SDKImageViewer</p> 
        <p>Por defcto el componente se muestra como una imagen o tipo vista, en este caso se muestra la imagen con un height de "100px", se puede especificar el tamaño enviando la propiedad Height, se puede enviar la propiedad "IsAvatar" en true para cambiar la visualizacion del componente, en caso de que no se le envie url muestra el icono de una imagen</p>
    </div>
    <div class="row px-3"> 
        <div class="col-md-6 p-3">
            <SDKCard>
                <div class="col-md-6 p-3">
                    <p>componente tipo avatar con imagen</p>
                    <SDKImageViewer Url="@Url" Type="@TypeFile" IsAvatar="true"></SDKImageViewer>                    
                </div>
                <div class="col-md-6 p-3">                
                    <p>componente tipo avatar sin imagen</p>
                    <SDKImageViewer Type="@TypeFile" IsAvatar="true"></SDKImageViewer>
                </div>
            </SDKCard>
        </div>
        <div class="col-md-4 p-3">
            <p>componente tipo vista con imagen</p>
            <SDKCard>
                <SDKImageViewer Url="@Url" Type="@TypeFile"></SDKImageViewer>
            </SDKCard>
        </div>
        <div class="col-md-2 p-3">
            <p>componente tipo vista sin imagen</p>
            <SDKCard>
                <SDKImageViewer Type="@TypeFile"></SDKImageViewer>
            </SDKCard>
        </div>
        <div class="col-md-6 p-3">
            <p>componente tipo vista con height</p>
            <SDKCard>
                <SDKImageViewer Url="@Url" Type="@TypeFile" Height="300px"></SDKImageViewer>
            </SDKCard>
        </div>
    </div>
</div>

@code{
    SDKTypeFile TypeFile {get; set;} = SDKTypeFile.Image;
    string Url = "_content/Siesa.SDK.Frontend/assets/img/arnol.jpg";    
}
