@using Siesa.SDK.Frontend.Components.Visualization
@using Siesa.SDK.Components.Visualization
@using Siesa.SDK.Frontend.Components.Fields

<div class="sdk_fields_aditional_background p-4">
    <div class="row pl-2">
        <div class="col-4 col-sm-4 col-md-4 col-lg-4 pl-0 border_right border_bottom">
            <h6 class="font-weight-bold"><ResourceViewer ResourceTag="Custom.Fields.AditionalFields.TagName"/></h6>
            <p><ResourceViewer ResourceTag="Custom.Fields.AditionalFields.TagDescription"/></p>
        </div>
        <div class="col-8 col-sm-8 col-md-8 col-lg-8 border_bottom">
            <div class="align-bottom">
                <h6>&nbsp;</h6>
                <SDKCharField Value="@DynamicEntityColumn.Tag" ValueChanged="((value) => _OnChangeTag(value))"/>
            </div>        
        </div>
    </div>
    <div class="row pl-2">
        <div class="col-4 col-sm-4 col-md-4 col-lg-4 pl-0 border_right border_bottom">
            <h6 class="font-weight-bold"><ResourceViewer ResourceTag="Custom.Fields.AditionalFields.ObligatorinessName"/></h6>
            <p><ResourceViewer ResourceTag="Custom.Fields.AditionalFields.ObligatorinessDescription"/></p>
        </div>
        <div class="col-8 col-sm-8 col-md-8 col-lg-8 border_bottom">
            <h6>&nbsp;</h6>
            <div class="row">
                <div class="col-4 col-sm-4 col-md-4 col-lg-4">
                    <p><ResourceViewer ResourceTag="Custom.Fields.AditionalFields.IsOptionalDescription"/></p>
                    <SDKSwitch @bind-Value="@DynamicEntityColumn.IsOptional"/>
                </div>
                <div class="col-4 col-sm-4 col-md-4 col-lg-4">
                    <p><ResourceViewer ResourceTag="Custom.Fields.AditionalFields.IsDisable"/></p>
                    <SDKSwitch @bind-Value="@DynamicEntityColumn.IsDisable"/>
                </div>
                <div class="col-4 col-sm-4 col-md-4 col-lg-4">
                    <p><ResourceViewer ResourceTag="Custom.Fields.AditionalFields.IsLocked"/></p>
                    <SDKSwitch @bind-Value="@DynamicEntityColumn.IsLocked"/>
                </div>
            </div>
        </div>
    </div>
    <div class="row pl-2">
        <div class="col-4 col-sm-4 col-md-4 col-lg-4 pl-0 border_right border_bottom">
            <h6 class="font-weight-bold"><ResourceViewer ResourceTag="Custom.Fields.AditionalFields.TypeName"/></h6>
            <p><ResourceViewer ResourceTag="Custom.Fields.AditionalFields.TypeDescription"/></p>
        </div>
        <div class="col-8 col-sm-8 col-md-8 col-lg-8 border_bottom">
            <h6>&nbsp;</h6>
            <SDKRadioButton ItemType="int" Value="@Type" Data="@DataType" ValueChanged="(myValue2)=>Onchange(myValue2)"/>
        </div>
    </div>
    <div class="row pl-2">
        <div class="col-4 col-sm-4 col-md-4 col-lg-4 pl-0 border_right border_bottom">
            <h6 class="font-weight-bold"><ResourceViewer ResourceTag="Custom.Fields.AditionalFields.SizeName"/></h6>
            <p><ResourceViewer ResourceTag="Custom.Fields.AditionalFields.SizeDescription"/></p>
        </div>
        <div class="col-8 col-sm-8 col-md-8 col-lg-8 border_bottom">
            <SDKFormLayout>
                <SDKFormLayoutItem ResourceTag="Custom.Fields.AditionalFields.SizeName"
                    ColSizeMd="4"
                    ColSizeLg="4"
                    ColSizeXl="4"
                    ColSizeSm="4"
                    ColSizeXs="4">
                    <SDKIntegerField @bind-Value="@DynamicEntityColumn.Size"/>
                </SDKFormLayoutItem>
                <SDKFormLayoutItem ResourceTag="Custom.Fields.AditionalFields.MinValueName"
                    ColSizeMd="4"
                    ColSizeLg="4"
                    ColSizeXl="4"
                    ColSizeSm="4"
                    ColSizeXs="4">
                    <SDKIntegerField @bind-Value="@DynamicEntityColumn.MinValue" ReadOnly="@(ReadOnlyMinMax)"/>
                </SDKFormLayoutItem>
                <SDKFormLayoutItem ResourceTag="Custom.Fields.AditionalFields.MaxValueName"
                    ColSizeMd="4"
                    ColSizeLg="4"
                    ColSizeXl="4"
                    ColSizeSm="4"
                    ColSizeXs="4">
                    <SDKIntegerField @bind-Value="@DynamicEntityColumn.MaxValue" ReadOnly="@(ReadOnlyMinMax)"/>
                </SDKFormLayoutItem>
            </SDKFormLayout>
        </div>
    </div>
    @* <div class="row pl-2">
        <div class="col-4 col-sm-4 col-md-4 col-lg-4 pl-0 border_right border_bottom">
            <h6 class="font-weight-bold"><ResourceViewer ResourceTag="Custom.Fields.AditionalFields.VisualizationName"/></h6>
            <p><ResourceViewer ResourceTag="Custom.Fields.AditionalFields.VisualizationDescription"/></p>
        </div>
        <div class="col-8 col-sm-8 col-md-8 col-lg-8 border_bottom">
            <h6>&nbsp;</h6>
            <SDKRadioButton ItemType="int" @bind-Value="@TypeVisualization" Data="@DataTypeVisualization"/>
        </div>
    </div> *@
    <div class="row pl-2">
        <div class="col-4 col-sm-4 col-md-4 col-lg-4 pl-0 border_right border_bottom">
            <h6 class="font-weight-bold"><ResourceViewer ResourceTag="Custom.Fields.AditionalFields.ClearName"/></h6>
            <p><ResourceViewer ResourceTag="Custom.Fields.AditionalFields.ClearDescription"/></p>
        </div>
        <div class="col-8 col-sm-8 col-md-8 col-lg-8 border_bottom">
            <h6>&nbsp;</h6>
            <SDKButton  ResourceTag="Custom.Fields.AditionalFields.ClearName" RenderStyleMode="SDKButtonRenderStyleMode.Outline" RenderStyle="SDKButtonRenderStyle.Danger" Click="@DeleteField"/>
        </div>
    </div>
    @if(ShowAddButton){
        <div class="row pl-2">
            <div class="col-4 col-sm-4 col-md-4 col-lg-4 pl-0 border_right">
                <h6 class="font-weight-bold"><ResourceViewer ResourceTag="Custom.Fields.AditionalFields.AddName"/></h6>
                <p><ResourceViewer ResourceTag="Custom.Fields.AditionalFields.AddDescription"/></p>
            </div>
            <div class="col-8 col-sm-8 col-md-8 col-lg-8">
                <h6>&nbsp;</h6>
                <SDKButton RenderStyle="SDKButtonRenderStyle.Primary" ResourceTag="Custom.Fields.AditionalFields.AddName" Click="@AddField" />
            </div>
        </div>
    }
</div>