@using Siesa.SDK.Frontend.Components.Visualization
@using Siesa.SDK.Components.Visualization
@using Siesa.SDK.Frontend.Components.Fields
@using Siesa.SDK.Frontend.Application
@using Siesa.SDK.Shared.Services
@using Siesa.SDK.Frontend.Services
@inject IServiceProvider ServiceProvider

<div class="m-4">
    <div class="sdk_fields_aditional_background p-4">
        <div class="row pl-2">
            <div class="col-4 col-sm-4 col-md-4 col-lg-4 pl-0 border_right border_bottom">
                <h6 class="font-weight-bold"><ResourceViewer ResourceTag="Custom.Group.AditionalFields.IdName"/></h6>
                <p><ResourceViewer ResourceTag="Custom.Group.AditionalFields.IdDescription"/></p>
            </div>
            <div class="col-8 col-sm-8 col-md-8 col-lg-8 border_bottom">
                <div class="align-bottom">
                    <h6>&nbsp;</h6>
                    <SDKCharField @bind-Value="@DynamicEntity.Id"/>
                </div>
            </div>
        </div>
        <div class="row pl-2">
            <div class="col-4 col-sm-4 col-md-4 col-lg-4 pl-0 border_right border_bottom">
                <h6 class="font-weight-bold"><ResourceViewer ResourceTag="Custom.Group.AditionalFields.TagName"/></h6>
                <p><ResourceViewer ResourceTag="Custom.Group.AditionalFields.TagDescription"/></p>
            </div>
            <div class="col-8 col-sm-8 col-md-8 col-lg-8 border_bottom">
                <div class="align-bottom">
                    <h6>&nbsp;</h6>
                    <SDKCharField Value="@DynamicEntity.Tag" ValueChanged="((value) => _OnChangeTag(value))" />
                </div>
            </div>
        </div>
        <div class="row pl-2">
            <div class="col-4 col-sm-4 col-md-4 col-lg-4 pl-0 border_right border_bottom">
                <h6 class="font-weight-bold"><ResourceViewer ResourceTag="Custom.Group.AditionalFields.VisualizationTypeName"/></h6>
                <p><ResourceViewer ResourceTag="Custom.Group.AditionalFields.VisualizationTypeDescription"/></p>
            </div>
            <div class="col-8 col-sm-8 col-md-8 col-lg-8 border_bottom">
                <div class="align-bottom">
                    <h6>&nbsp;</h6>
                    <SDKRadioButton ItemType="int" @bind-Value="@Type" Data="@DataVisualizationType"/>
                </div>
            </div>
        </div>
    </div>
</div>

@* <SDKFormLayout> *@
 @*    <SDKFormLayoutItem ResourceTag="Custom.Group.AditionalFields.TagName"  *@
 @*        ColSizeMd="12" *@
 @*        ColSizeLg="12" *@
 @*        ColSizeXl="12" *@
 @*        ColSizeSm="12" *@
 @*        ColSizeXs="12"> *@
 @*        <div class="mb-3"> *@
 @*            <h6><ResourceViewer ResourceTag="Custom.Group.AditionalFields.TagDescription"/><span style="color:red">*</span></h6> *@
 @*            <SDKCharField Value="@DynamicEntity.Tag" ValueChanged="((value) => _OnChangeTag(value))" /> *@
 @*        </div> *@
 @*        <hr class="m-0 sdk_separator"> *@
 @*    </SDKFormLayoutItem> *@
 @*    <SDKFormLayoutItem ResourceTag="Custom.Group.AditionalFields.IsDisableName" *@
 @*        ColSizeMd="12" *@
 @*        ColSizeLg="12" *@
 @*        ColSizeXl="12" *@
 @*        ColSizeSm="12" *@
 @*        ColSizeXs="12"> *@
 @*        <div class="mb-3"> *@
 @*            <h6><ResourceViewer ResourceTag="Custom.Group.AditionalFields.IsDisableDescription"/></h6> *@
 @*            <SDKSwitch @bind-Value="@DynamicEntity.IsDisable"/> *@
 @*        </div> *@
 @*        <hr class="m-0 sdk_separator"> *@
 @*    </SDKFormLayoutItem> *@
 @*    <SDKFormLayoutItem ResourceTag="Custom.Group.AditionalFields.IsLockedName" *@
 @*        ColSizeMd="12" *@
 @*        ColSizeLg="12" *@
 @*        ColSizeXl="12" *@
 @*        ColSizeSm="12" *@
 @*        ColSizeXs="12"> *@
 @*        <div class="mb-3"> *@
 @*            <h6><ResourceViewer ResourceTag="Custom.Group.AditionalFields.IsLockedDescription"/></h6> *@
 @*            <SDKSwitch @bind-Value="@DynamicEntity.IsLocked"/> *@
 @*        </div> *@
 @*        <hr class="m-0 sdk_separator"> *@
 @*    </SDKFormLayoutItem> *@
 @*    <SDKFormLayoutItem ResourceTag="Custom.Group.AditionalFields.SizeName" *@
 @*        ColSizeMd="12" *@
 @*        ColSizeLg="12" *@
 @*        ColSizeXl="12" *@
 @*        ColSizeSm="12" *@
 @*        ColSizeXs="12"> *@
 @*        <h6><ResourceViewer ResourceTag="Custom.Group.AditionalFields.SizeDescription"/></h6> *@
 @*        <SDKIntegerField @bind-Value="@SizeField"/> *@
 @*    </SDKFormLayoutItem> *@
 @*    <SDKFormLayoutItem ResourceTag="Custom.Group.AditionalFields.VisualizationTypeName" *@
 @*        ColSizeMd="12" *@
 @*        ColSizeLg="12" *@
 @*        ColSizeXl="12" *@
 @*        ColSizeSm="12" *@
 @*        ColSizeXs="12"> *@
 @*        <h6><ResourceViewer ResourceTag="Custom.Group.AditionalFields.VisualizationTypeDescription"/></h6> *@
 @*        <SDKRadioButton ItemType="int" @bind-Value="@Type" Data="@DataVisualizationType"/> *@
 @*    </SDKFormLayoutItem> *@
 @* </SDKFormLayout> *@
