@using Siesa.SDK.Frontend.Components.Fields
@using Siesa.SDK.Frontend.Components.Visualization
@using Siesa.SDK.Components.Visualization
@using Siesa.SDK.Frontend.Services

@inject SDKDialogService SDKDialogService

<div class="row whcm_row">
    @* 1er cuadro *@
    @if(!IsDetail){
        <div class="col-12">
            <div class="row whcm_row">
                <div class="col-xl-6 col-lg-8 col-md-7 col-sm-8 col-12 d-flex form-group">
                    <div class="w-100">
                        <span class="col-form-label col-form-label-sm font-weight-bold">
                            <SDKLabel
                                ResourceTag="@LabelResourceTag"
                                CssClass="mb-0"
                            />
                        </span>
                        <SDKEntityField
                            BaseObj="@this"
                            FieldName="FieldRelated"
                            @ref="SdkEntityFieldRef"
                            IsMultiple="true"
                            RelatedBusiness="@RelatedBusiness"
                            Filters="@EntityFieldFilters"
                        />
                    </div>
                    <div class="d-flex align-items-end ml-1">
                        <SDKButton
                            ResourceTag="Custom.SDKEntityMultiSelector.MultiselectMessage"
                            IconCssClass="fa-solid fa-list-check"
                            RenderStyle="SDKButtonRenderStyle.Light"
                            CssClass="btn_multiselect"
                            Click="@OpenModal"
                        />
                    </div>
                </div>
                <div class="col-xl-3 col-lg-4 col-md-5 col-sm-4 col-12 d-flex align-items-end form-group">
                    <SDKButton
                        ResourceTag="@AddButtonResourceTag"
                        RenderStyle="SDKButtonRenderStyle.Primary"
                        Click="@AddItem"
                    />
                </div>
            </div>
        </div>
    }
    @* 2do cuadro *@
    <div class="col-12 form-group">
        <span class="col-form-label col-form-label-sm font-weight-bold">
            <SDKLabel
                ResourceTag="@ListResourceTag"
                CssClass="mb-0"
            />
        </span>
        @if(RowidRecordsRelated?.Count > 0 && ConstantFilters?.Count > 0)
        {
            <ListView
                @ref="ListViewRef"
                IsMultiple="true"
                ViewdefName="@ViewdefName"
                BusinessObj=@BusinessRelated
                BusinessName="@RelatedBusiness"
                SetTopBar="false"
                AllowCreate="false"
                AllowEdit="false"
                AllowDelete="false"
                AllowDetail="false"
                ShowActions="false"
                ShowSearchForm="false"
                ConstantFilters="@ConstantFilters"
                OnSelectedRow="@OnSelectRow"
            />

            <SDKEntityMultiSelectorFixedButton
                @ref="ComponentFixedButtonRef"
                ResourceTag=@RemoveButtonResourceTag
                OnCustomClick=@FixedClick
                ShowButton="@ShowButtonRemove"
            />
        }else
        {
            <div class="col-12 text-center font_color_primary_dark pt-3 pb-0">
                <SDKIcon Name="fa-circle-info" IconSize="fa-3x" />
                <p class="mt-3 mb-0 font_size_087">
                    <ResourceViewer
                        ResourceTag="@EmptyResourceTag"
                    />
                </p>
            </div>
        }
    </div>
</div>

@code
{
    public async Task OpenModal()
    {
        await SDKDialogService.ShowCustomDialog(
            ds =>@<SDKEntityMultiSelectorModal
                        Business=@BusinessRelated
                        RowidRecordsRelated=@RowidRecordsRelated
                        RelatedBusinessName=@RelatedBusiness
                        ViewdefName=@ViewdefName
                        ItemsSelected=@ItemsSelected
                        SDKManyToManySelectorRef=@this
                        OnAddAction=@OnAddActionModal
                        ResourceTagButtonAdd="@AddButtonResourceTagMulti"
                    />,
            width:"80%",
            ResourceTag:"Custom.SDKEntityMultiSelector.MultiselectMessage"
        );
    }
}