
@inherits SDKComponent

<div class="@CssClass">
    <div class="file-upload-container">


        @if(!_IsLoading && !IsDetail){
            <div class="input-container position-relative">
                <InputFile OnChange="@_OnChange" multiple="@IsMultiple" style="width: 300px; height: 200px; " accept="@FilterType" @ref="_refinputFile" class="sdk-upload-input"/>

                <div class="file-upload-icon" >
                    @if(InputFile == null &&  _FilesSelected.Count == 0)
                    {
                        <div class="upload-box mb-2">
                            @if(_IsLoading){
                                <SDKIcon Name="fa-spinner fa-spin"/>
                            }else if(!IsDetail){
                                <SDKIcon Name="fa-arrow-up-from-bracket" IconSize="fa-2x" OnClick="@ClickIcon"></SDKIcon>
                            }
                            <p class="mb-0 mt-2">
                                <ResourceViewer ResourceTag="Custom.SDK.InputFile.DragAndDropFile"  />
                            </p>
                        </div>
                    }
                    <SDKButton CssClass="btn btn-primary btn_primary_def_1 btn-sm px-3" ResourceTag="Custom.SDK.InputFile.SelectFile">
                    </SDKButton>
                </div>
            </div>
        }
        
        @if(IsMultiple)
        {
            <div class="col-12 pt-1 upload_img_cont">
                <div class="row whcm_row">
            @foreach (var url in _FilesSelected)
            {
                <div class="@_breakpoints pl-1 pr-1 pb-1">
                    <div class="whcm_panel d-flex justify-content-start align-items-center position-relative h-100">
                        <div class="h-100 w-100">
                            @if(_ExtensionsImage.Contains(url.File?.ContentType.Split("/")[1]))
                                {
                                    @if(!ShowPreview)
                                    {
                                        <div class="upload_file_icon">
                                            <SDKIcon Name="fa-image"></SDKIcon>
                                        </div>
                                    }
                                    else
                                    {
                                        if(!string.IsNullOrEmpty(url.Url))
                                        {
                                            <img @ref="previewImageElem" src="@url.Url" height="100%" width="100%"  >
                                        }else
                                        {
                                            <img @ref="previewImageElem" height="100%" width="100%"/>
                                        }
                                    }
                                }else
                                {                                
                                    <div class="upload_file_icon">
                                        <SDKIcon Name="@GetIconExtension(url.File?.ContentType)"></SDKIcon>
                                    </div> 
                                }
                        </div>

                        @if(ShowInfoImg)
                        {
                            <div class="upload_text_box p-1">
                                <p class="img_name mb-0">@url.FileName</p>
                                <p class="img_size mb-0">@url.FileSize/Kb</p>
                            </div>
                        }
                        @if(!IsDetail)
                        {
                            <button @onclick:preventDefault class="close-preview" onclick="@(()=> CloseItem(url))">
                                <SDKIcon Name="fa-xmark" CssClass="icon-close"/>
                            </button>
                        }
                    </div>
                </div>
            }
                </div>
            </div>
        }else if(!_IsLoading)
        {
            <div class="col-12 pt-1 upload_img_cont" style="display: @_display">
                <div class="row whcm_row">
                    <div class="col-12 pl-1 pr-1 pb-1">
                        <div class="whcm_panel d-flex justify-content-start align-items-center position-relative h-100">
                            <div class="h-100 w-100">
                                @if((!string.IsNullOrEmpty(InputFile?.File?.ContentType) 
                                && _ExtensionsImage.Contains(InputFile?.File?.ContentType.Split("/")[1])) || 
                                (IsDetail && !string.IsNullOrEmpty(_UrlImage)))
                                {
                                    @if(!ShowPreview)
                                    {
                                        <div class="upload_file_icon">
                                            <SDKIcon Name="fa-image"></SDKIcon>
                                        </div>
                                    }
                                    else
                                    {
                                        if(!string.IsNullOrEmpty(_UrlImage))
                                        {
                                            <img @ref="previewImageElem" src="@_UrlImage" height="100%" width="100%"  >
                                        }else
                                        {
                                            <img @ref="previewImageElem" height="100%" width="100%"/>
                                        }
                                    }
                                }else
                                {                                
                                    <div class="upload_file_icon" id="single_file_icon">
                                        <SDKIcon Name="@GetIconExtension(InputFile?.File?.ContentType)"></SDKIcon>
                                    </div> 
                                }
                            </div>
                            @if(ShowInfoImg)
                            {
                                <div class="upload_text_box p-1">
                                    <p class="img_name mb-0">@InputFile?.File?.Name</p>
                                    <p class="img_size mb-0">@SingleFileSize/Kb</p>
                                </div>
                            }

                            @if(!IsDetail && InputFile != null)
                            {
                                <button @onclick:preventDefault class="close-preview" @onclick="()=> ClosePreviewFile()">
                                    <SDKIcon Name="fa-xmark" CssClass="icon-close"/>
                                </button> 
                            }
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>
</div>

