@typeparam TData
@typeparam TValue
@inherits SDKComponent

<div class="sdk-dropdown-container">
    <RadzenDropDown 
        Disabled="@ReadOnly"
        Data="@Options"
        TValue="TValue"
        TextProperty="@TextProperty"
        ValueProperty="@ValueProperty"
        Value="@Values" 
        ValueChanged="@ValuesChanged" 
        ValueExpression="@ValuesExpression"
        Multiple="@Multiple"
        AllowClear="@AllowClear"
        MaxSelectedLabels="@MaxSelectedLabels"
        Chips="@Badges"
        data-automation-id="@GetAutomationId()"
        field-name="@FieldName"
        @onfocusout="@_OnFocusOut"
    />
</div>