@using System.Linq.Expressions
@typeparam ItemType
@inherits SDKComponent



<div class="sdk-selectbar-container">
        @if(typeof(ItemType) == typeof(bool))
        {    
            <RadzenSelectBar Value=@Value Change="@ValueChanged" TValue="ItemType" Disabled = "@Disabled" ValueExpression="@ValueExpression"  
                    data-automation-id="@GetAutomationId()">
                    <Items>
                            <SDKSelectBarItem ResourceTag="@DenialResourceTag" Value="false" />
                            <SDKSelectBarItem ResourceTag="@AffirmationResourceTag" Value="true" />
                    </Items>
            </RadzenSelectBar>
        }else
        {
                <RadzenSelectBar Value=@Value Change="@ValueChanged" TValue="ItemType"
                        Data="@Data" TextProperty="Name" ValueProperty="Key" Disabled = "@Disabled" ValueExpression="@ValueExpression"  
                        data-automation-id="@GetAutomationId()" Items="@Items">

                </RadzenSelectBar>

        }
</div>   
