@typeparam ItemType
@inherits SDKComponent
<div class="sdk-dropdown-container">
    <RadzenDropDown 
        Disabled="@ReadOnly"
        Data="@_options"
        TValue="ItemType"
        TextProperty="@_textProperty"
        ValueProperty="@_valueProperty"
        Value="@Value" 
        ValueChanged="@ValueChanged" 
        ValueExpression="@ValueExpression"
        data-automation-id="@GetAutomationId()"
        field-name="@FieldName"
        @onfocusout="@_OnFocusOut"
    />
</div>