@using Microsoft.AspNetCore.Components;
@inject UtilsManager UtilManager
<div class="sdk-upload">   
<RadzenUpload Url="upload/single" class="@StyleCss" ChooseText="@ResourceChooseText"
Accept="@Accept" Progress="@Progress" Complete="@Complete"> </RadzenUpload >
</div>

@code {
    [Parameter]public string StyleCss {get; set;}
    [Parameter]public List<string> Extensions {get; set;}
    [Parameter] public EventCallback<UploadProgressArgs> Progress {get;set;}
    [Parameter] public EventCallback<UploadCompleteEventArgs> Complete {get;set;}
    private string ResourceChooseText {get; set;}

    private string Accept = "";

    protected override async Task OnInitializedAsync(){
        ResourceChooseText = "Custom.SDKUpload.Choose";
        ResourceChooseText = await UtilManager.GetResource("Custom.SDKUpload.Choose");
        base.OnInitialized();
    }

    protected override void OnParametersSet(){
        if (Extensions != null){
            Accept = string.Join(", ", Extensions);
        }
    }
}