@using SDK.Components.Visualization
@using Siesa.SDK.Frontend.Components.Visualization
@using Siesa.SDK.Shared.Backend;
@using Siesa.SDK.Frontend.Components.Layout.Menu;
@using Siesa.SDK.Shared.Services;
@inject IAuthenticationService AuthenticationService;
@inject NavigationManager NavigationManager;
<DxMenu Orientation="DevExpress.Blazor.Orientation.Horizontal"
        DropDownActionMode="MenuDropDownActionMode.Click"
        DisplayMode="MenuDisplayMode.Auto"
        Title="Siesa"
        CollapseItemsToHamburgerMenu="true"
        CollapseItemToIconMode="MenuCollapseItemToIconMode.Sequentially">
    <TitleTemplate>
        <img class="menu-title-template-img" src="_content/Siesa.SDK.Frontend/images/header_logo.svg" alt="@context" />
    </TitleTemplate>
    <Items>
        <DxMenuItem Text="Home" IconCssClass="oi oi-home" NavigateUrl="/" />
        @foreach (var menuItem in Menus)
        {
            <SDKMenuItem MenuItem="@menuItem" />
        }
        @if(DevMenu != null)
        {
            <DxMenuItem Text="DevMenu" IconCssClass="oi oi-code">
                <Items>
                    @* <DxMenuItem Enabled="false" CssClass="menuitem-dev-search-box">
                        <Template>
                            <DxTextBox @bind-Text="@DevMenuSearchString" NullText="Search..." ></DxTextBox>
                        </Template>
                    </DxMenuItem> *@
                    @* @foreach (var menuItem in DevMenu.Where(x => !String.IsNullOrEmpty(DevMenuSearchString) ? x.Title.ToLower().Contains(DevMenuSearchString.ToLower()) : true)) *@
                    @foreach (var menuItem in DevMenu)
                    {
                        <SDKMenuItem MenuItem="@menuItem" />
                    }
                </Items>
            </DxMenuItem>
        }
        @if (AuthenticationService.User != null)
        {
            @* @if(AuthenticationService.User.IsSuperAdmin)
            { *@
                <DxMenuItem IconCssClass="oi oi-wrench" Position="ItemPosition.End">
                    <Items>
                        <DxMenuItem Text="Menu Builder" NavigateUrl="/admin/menu/" />
                    </Items>
                </DxMenuItem>
            @* } *@
            
            <DxMenuItem CssClass="notoggle" Position="ItemPosition.End">
                    <TextTemplate>
                        <div class="menu-icon-user-profile menu-icon" />
                    </TextTemplate>
                    <SubMenuTemplate>
                        <div class="w-100 user-profile">
                            <div class="flex-column align-items-center justify-content-center">
                                <div class="logo-container d-flex align-items-center justify-content-center">
                                    <div class="menu-icon-user-profile menu-icon menu-icon-large" />
                                </div>
                                <div class="user-name-container bm-3 mb-2">
                                    <div class="user-name-title text-muted text-center">Hello</div>
                                    <div class="user-name text-center">@AuthenticationService.User</div>
                                </div>
                                <div class="d-flex justify-content-center log-off-btn">
                                    <SDKButton ResourceTag="BLUser.Logout" RenderStyle="@SDKButtonRenderStyle.Secondary" NavigateUrl="/logout"></SDKButton>
                                </div>
                            </div>
                        </div>
                    </SubMenuTemplate>
                </DxMenuItem>
        }else{
            <DxMenuItem Text="Log in" IconCssClass="oi oi-person"  NavigateUrl="/login" Position="ItemPosition.End" />
        }
    </Items>
</DxMenu>