@using Siesa.SDK.Frontend.Components.Visualization
@using Siesa.SDK.Shared.Services
@using Siesa.Global.Enums
@using Siesa.SDK.Components.Visualization
@using Siesa.SDK.Protos
@using Blazored.Toast.Services
@inherits SDKComponent

@implements IDisposable

<div id="DashBoard_Notification">
    <SDKButton ResourceTag="SDK.DashBoard.Notification" CssClass="btn btn-sm button_notification"
        RenderStyle="SDKButtonRenderStyle.None" Click="@OpenNotification">
        <SDKIcon Name="fa-bell" />
    </SDKButton>
</div>
<SDKDropDown @bind-IsOpen="@_OpenNotifications" CssClass="layout_dropdown" PositionTarget="#DashBoard_Notification"
    PositionMode="DropDownPositionMode.Bottom" FooterVisible="false" HeaderVisible="true"
    ResourceTag="DashBoard_Notification">
    <HeaderTemplate>
        <div class="pt-3 pl-3 pr-3 pb-0">
            <h6 class="font-weight-bold m-0 border-bottom pb-3">
                <span>
                    <ResourceViewer ResourceTag="Custom.SDKNotification.ButtonNotifications"/>
                </span>
            </h6>
        </div>
    </HeaderTemplate>

    <BodyTemplate>
        <div class="card_container">
            @if (Notifications != null && Notifications.Any())
            {
                @foreach (var notify in Notifications)
                {
                    <SDKCard StyleCss="notification_card">
                        <h6><strong>@notify.QueueName</strong></h6>
                        <br />
                        <p>@notify.Message</p>

                        <SDKButton ResourceTag="SDK.DashBoard.Notification.Close" CssClass="btn btn-sm close_button"
                            RenderStyle="SDKButtonRenderStyle.None" Click="@(()=>RemoveNotification(notify))">
                            <SDKIcon Name="fa-x" />
                        </SDKButton>

                    </SDKCard>
                }
            }
            else
            {
                <SDKCard StyleCss="notification_card">
                    <p>No hay notificaciones</p>
                </SDKCard>
            }
        </div>
    </BodyTemplate>

</SDKDropDown>


@code
{

}