@using Siesa.SDK.Frontend.Components.Layout
@using Siesa.SDK.Frontend.Components.FormManager.Views
@using Siesa.SDK.Shared.Services
@using Siesa.SDK.Frontend.Components.FormManager
@using Siesa.SDK.Shared.Utilities
@using Microsoft.Extensions.DependencyInjection
@using Siesa.SDK.Frontend.Components.FormManager.Views
@using Siesa.SDK.Frontend.Components.FormManager.ViewModels

@inject IServiceProvider ServiceProvider
@inject IAuthenticationService AuthenticationService


<div class="row">
    <div
        class="container-foto-perfil d-flex align-items-center justify-content-center col-12 col-sm-12 col-md-4 col-lg-3">

        <div class="whcm_user_photo_box">
            <div class="whcm_user_photo">
                <img src="@ProfileImageData" alt="imagen perfil" style="max-width: 100%;">
            </div>
            <button class="whcm_upload_photo btn btn-primary btn_primary_def_1 btn-sm" data-toggle="tooltip"
                data-placement="top" title="" data-original-title="Preferencias_Usuario">
                <i class="fa-solid fa-camera"></i>
            </button>
        </div>

    </div>

    <div class="col-12 col-sm-12 col-md-8 col-lg-9 mt-3">
        <div class="sdk_card d-flex flex-row">
            <div class="sdk_button_box_2 p-1">

                @if (_IsEdit)
                {
                    <button class="btn btn-sm layout_btn_negative-sm mb-1" data-toggle="tooltip" data-placement="top"
                        title="Editar" @onclick="@(()=> ChangeViewType())">
                        <i class="fa-solid fa-circle-check"></i>
                    </button>

                    <button class="btn btn-sm layout_btn_negative-sm mb-1" data-toggle="tooltip" data-placement="top"
                        title="Editar" @onclick="@(()=> ChangeViewType())">
                        <i class="fa-solid fa-ban"></i>
                    </button>
                }
                else
                {
                    <button class="btn btn-sm layout_btn_negative-sm mb-1" data-toggle="tooltip" data-placement="top"
                        title="Editar" @onclick="@(()=> ChangeViewType())">
                        <i class="fa-solid fa-pen"></i>
                    </button>
                }

            </div>
            <div class="col pt-2">
                <div class="row">

                    <h6 class="col-12 font-weight-bold">
                        <ResourceViewer ResourceTag="Custom.SDK.UserPreference.UserData" />
                    </h6>


                    <FreeForm Viewdef="user_preferences" BusinessName="BLUser" BusinessObj="@BLUser"
                        Title="Prueba_FreeForm" ViewContext="@DynamicViewType" />

                    @* <div class="col-12 col-sm-6">
                    <label class="col-form-label col-form-label-sm font-weight-bold">Nombre
                    de usuario</label>
                    <p class="font_size_087">pperezgarzon17</p>
                    </div>
                    <div class="col-12 col-sm-6">
                    <label class="col-form-label col-form-label-sm font-weight-bold">Contraseña</label>
                    <p class="font_size_087">**********</p>
                    </div>
                    <div class="col-12 col-sm-6">
                    <label class="col-form-label col-form-label-sm font-weight-bold">Correo</label>
                    <p class="font_size_087">pperez@gmail.com</p>
                    </div>
                    <div class="col-12 col-sm-6">
                    <label class="col-form-label col-form-label-sm font-weight-bold">Cultura</label>
                    <p class="font_size_087"><img src="assets/img/usa-flag.png"
                    style="max-width: 21px; margin-right: 6px;">English</p>
                    </div> *@

                    @* <DynamicEditView BusinessName="BLUser" BusinessObjId="1" IsSubpanel="true" ShowTitle="false"/> *@


                </div>
            </div>
        </div>
    </div>
</div>
<hr>

<div class="row">
    <div class="col-12 col-sm-12 mb-sm-3  col-md-12 col-lg-4 mb-lg-0 custom-border custom-border-2">



        <h6 class="col-12 font-weight-bold font_color_primary p-0 form-group">
            <ResourceViewer ResourceTag="Custom.SDK.UserPreference.Themes" />
        </h6>



        <div class="col px-0 mb-3">

            <label class="col-12 font-weight-bold p-0">
                <ResourceViewer ResourceTag="Custom.SDK.UserPreference.MainThemes" />
            </label>

            <div id="carouselExampleControls" class="carousel slide" data-interval="false">
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <div class="row px-4" alt="First slide">
                            <div class="col-4 ">

                                <div class="sdk_card p-2 mb-2">
                                    <div class="d-flex justify-content-between">

                                        <div class="col-12 pl-0 pr-0">
                                            <div style="background-color:#1079FD; border-radius: 4px; height: 20px;">
                                            </div>
                                        </div>
                                    </div>

                                </div>

                                <div class="d-flex align-items-center">
                                    <input class="mr-2" type="radio" id="azul-siesa" value="Azul Siesa">
                                    <label class="mb-0" for="azul-siesa" style="font-size: 14px;">Azul Siesa</label>
                                </div>

                            </div>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <div class="row px-4" alt="Second slide">
                            <div class="col-4 ">

                                <div class="sdk_card p-2 mb-2">
                                    <div class="d-flex justify-content-between">

                                        <div class="col-12 pl-0 pr-0">
                                            <div style="background-color:#C45824; border-radius: 4px; height: 20px;">
                                            </div>
                                        </div>
                                    </div>

                                </div>

                                <div class="d-flex align-items-center">
                                    <input class="mr-2" type="radio" id="terracota" value="Terracota">
                                    <label class="mb-0" for="terracota" style="font-size: 14px;">Terracota</label>
                                </div>

                            </div>

                            <div class="col-4 ">

                                <div class="sdk_card p-2 mb-2">
                                    <div class="d-flex justify-content-between">

                                        <div class="col-12 pl-0 pr-0">
                                            <div style="background-color:#9B111E; border-radius: 4px; height: 20px;">
                                            </div>
                                        </div>
                                    </div>

                                </div>

                                <div class="d-flex align-items-center">
                                    <input class="mr-2" type="radio" id="rubi" value="Rubí">
                                    <label class="mb-0" for="rubi" style="font-size: 14px;">Rubí</label>
                                </div>

                            </div>

                            <div class="col-4 ">

                                <div class="sdk_card p-2 mb-2">
                                    <div class="d-flex justify-content-between">

                                        <div class="col-12 pl-0 pr-0">
                                            <div style="background-color:#4C2882; border-radius: 4px; height: 20px;">
                                            </div>
                                        </div>
                                    </div>

                                </div>

                                <div class="d-flex align-items-center">
                                    <input class="mr-2" type="radio" id="violeta" value="Violeta">
                                    <label class="mb-0" for="violeta" style="font-size: 14px;">Violeta</label>
                                </div>

                            </div>




                        </div>
                    </div>

                </div>
                <a class="carousel-control-prev" href="#carouselExampleControls" role="butto"
                    style="opacity: 1;width: auto;" data-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true">
                        <i class="fa-solid fa-chevron-left" style="color:#1079FD"></i>
                    </span>
                    <span class="sr-only">Previous</span>
                </a>
                <a class="carousel-control-next" href="#carouselExampleControls" role="button"
                    style="opacity: 1;width: auto;" data-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true">
                        <i class="fa-solid fa-chevron-right" style="color:#1079FD;"></i>
                    </span>
                    <span class="sr-only">Next</span>
                </a>
            </div>


        </div>


        <div class="col px-0 mb-3">

            <label class="col-12 font-weight-bold p-0">Color complementario (opcional)</label>

            <div class="row">
                <div class="col-4 ">

                    <div class="sdk_card p-2 mb-2">
                        <div class="d-flex justify-content-between">

                            <div class="col-6 pl-0 pr-1">
                                <div style="background-color:#1079FD; border-radius: 4px; height: 20px;">
                                </div>
                            </div>

                            <div class="col-6 pr-0 pl-1">
                                <div style="background-color: rgba(0, 26, 174, 0.4); border-radius: 4px; height: 20px;">
                                </div>
                            </div>

                        </div>

                    </div>

                    <div class="d-flex align-items-center">
                        <input class="mr-2" type="radio" id="untono" value="1 Tono">
                        <label class="mb-0" for="untono" style="font-size: 14px;">1 Tono</label>
                    </div>

                </div>

                <div class="col-4 ">

                    <div class="sdk_card p-2 mb-2">
                        <div class="d-flex justify-content-between">

                            <div class="col-6 pl-0 pr-1">
                                <div style="background-color:#1079FD; border-radius: 4px; height: 20px;">
                                </div>
                            </div>

                            <div class="col-6 pr-0 pl-1">
                                <div style="background-color: #00AE3C; border-radius: 4px; height: 20px;">
                                </div>
                            </div>

                        </div>

                    </div>

                    <div class="d-flex align-items-center">
                        <input class="mr-2" type="radio" id="+verde" value="+Verde">
                        <label class="mb-0" for="+verde" style="font-size: 14px;">+Verde</label>
                    </div>

                </div>

                <div class="col-4 ">

                    <div class="sdk_card p-2 mb-2">
                        <div class="d-flex justify-content-between">

                            <div class="col-6 pl-0 pr-1">
                                <div style="background-color:#1079FD; border-radius: 4px; height: 20px;">
                                </div>
                            </div>

                            <div class="col-6 pr-0 pl-1">
                                <div style="background-color:#FF8E2C; border-radius: 4px; height: 20px;">
                                </div>
                            </div>

                        </div>

                    </div>

                    <div class="d-flex align-items-center">
                        <input class="mr-2" type="radio" id="+naranja" value="+Naranja">
                        <label class="mb-0" for="+naranja" style="font-size: 14px;">+Naranja</label>
                    </div>

                </div>


            </div>



        </div>

        <div class="alert alert-info d-flex align-items-center font_size_087" role="alert">
            <i class="fa-solid fa-circle-info mr-2"></i>

            <ResourceViewer ResourceTag="Custom.SDK.UserPreference.Notifi" />
        </div>


    </div>

    <div class="col-12 col-sm-12 mb-sm-3  col-md-12 col-lg-4 mb-lg-0 custom-border custom-border-2">

        <h6 class="col-12 font-weight-bold font_color_primary p-0 form-group">Estilo de Ícono</h6>
        <div class="row">
            <div class="col-12 col-sm-12">
                <div class="row">
                    <div class="col-4 mb-3">

                        <div class="sdk_card d-flex justify-content-center rounded p-4 mb-2">
                            <i class="fa-solid fa-user fa-2x" style="color:#1079FD;"></i>
                        </div>

                        <div class="d-flex align-items-center">
                            <input class="mr-2" type="radio" id="solid" value="Sólido">
                            <label class="mb-0" for="solid" style="font-size: 14px;">Sólido</label>
                        </div>

                    </div>

                    <div class="col-4 mb-3">

                        <div class="sdk_card d-flex justify-content-center rounded p-4 mb-2">
                            <i class="fa-regular fa-user fa-2x" style="color:#1079FD;"></i>
                        </div>

                        <div class="d-flex align-items-center">
                            <input class="mr-2" type="radio" id="medio" value="Medio">
                            <label class="mb-0" for="medio" style="font-size: 14px;">Medio</label>
                        </div>

                    </div>

                    <div class="col-4 mb-3">

                        <div class="sdk_card d-flex justify-content-center rounded p-4 mb-2">
                            <i class="fa-light fa-user fa-2x" style="color:#1079FD;"></i>
                        </div>

                        <div class="d-flex align-items-center">
                            <input class="mr-2" type="radio" id="ligero" value="Ligero">
                            <label class="mb-0" for="ligero" style="font-size: 14px;">Ligero</label>
                        </div>

                    </div>

                    <div class="col-4 mb-3">

                        <div class="sdk_card d-flex justify-content-center rounded p-4 mb-2">
                            <i class="fa-thin fa-user fa-2x" style="color:#1079FD;"></i>
                        </div>

                        <div class="d-flex align-items-center">
                            <input class="mr-2" type="radio" id="delgado" value="Delgado">
                            <label class="mb-0" for="delgado" style="font-size: 14px;">Delgado</label>
                        </div>

                    </div>

                    <div class="col-4">

                        <div class="sdk_card d-flex justify-content-center rounded p-4 mb-2">
                            <i class="fa-duotone fa-user fa-2x" style="color:#1079FD;"></i>
                        </div>

                        <div class="d-flex align-items-center">
                            <input class="mr-2" type="radio" id="duotono" value="Duotono">
                            <label class="mb-0" for="duotono" style="font-size: 14px;">Duotono</label>
                        </div>

                    </div>

                </div>


            </div>



        </div>
    </div>

    <div class="col-12 col-sm-12 col-md-12 col-lg-4">

        <h6 class="col-12 font-weight-bold font_color_primary p-0 form-group">Barra de Herramientas</h6>

        <div class="row">

            <div class="col-12 mb-3">
                <div class="d-flex justify-content-center py-4 px-5 mb-2 sdk_card">
                    <div class="col-12 col-md-10 col-lg-12 d-flex d-row justify-content-around">
                        <i class="fa-solid fa-circle-plus fa-lg" style="color:#1079FD;"></i>
                        <i class="fa-solid fa-pen fa-lg" style="color:#1079FD;"></i>
                        <i class="fa-solid fa-trash-can fa-lg" style="color:#1079FD;"></i>
                        <i class="fa-solid fa-list fa-lg" style="color:#1079FD;"></i>
                        <i class="fa-solid fa-magnifying-glass fa-lg" style="color:#1079FD;"></i>
                    </div>

                </div>

                <div class="d-flex align-items-center">
                    <input class="mr-2" type="radio" id="1color" value="1 Color">
                    <label class="mb-0" for="1color" style="font-size: 14px;">1 Color</label>
                </div>
            </div>

            <div class="col-12 ">
                <div class="d-flex justify-content-center py-4 px-5 mb-2 sdk_card">
                    <div class="col-12 col-md-10 col-lg-12 d-flex d-row justify-content-around">
                        <i class="fa-solid fa-circle-plus fa-lg" style="color:#FA8651;"></i>
                        <i class="fa-solid fa-pen fa-lg" style="color:#FAC153;"></i>
                        <i class="fa-solid fa-trash-can fa-lg" style="color:#F9777F;"></i>
                        <i class="fa-solid fa-list fa-lg" style="color:#C0AAEF;"></i>
                        <i class="fa-solid fa-magnifying-glass fa-lg" style="color:#2BC8C9;"></i>
                    </div>

                </div>

                <div class="d-flex align-items-center">
                    <input class="mr-2" type="radio" id="multicolor" value="Multicolor">
                    <label class="mb-0" for="multicolor" style="font-size: 14px;">Multicolor</label>

                </div>
            </div>

        </div>
    </div>
</div>

<div class="row modal-footer pb-0">
    <button class="btn btn-primary btn_secondary_def_1 btn-sm px-3  ">Descartar
        cambios</button>


    <button class="btn btn-primary btn_secondary_cancel btn-sm px-3 ">Salir</button>



    <button class="btn btn-primary btn_primary_def_1 btn-sm px-3">Guardar</button>


</div>

@code
{
    private string ProfileImageData { get; set; }
    private bool _IsEdit = false;
    public DynamicViewType DynamicViewType { get; set; } = DynamicViewType.Detail;
    public dynamic BLUser { get; set; }

    private void ChangeViewType()
    {
        _IsEdit = !_IsEdit;

        if (_IsEdit)
        {
            DynamicViewType = DynamicViewType.Edit;
        }
        else
        {
            DynamicViewType = DynamicViewType.Detail;
        }

        StateHasChanged();
    }

    protected override async Task OnInitializedAsync()
    {
        var blType = Utilities.SearchType("Siesa.MasterBackend.Business.BLUser");
        BLUser = ActivatorUtilities.CreateInstance(ServiceProvider, blType);
        await BLUser.InitializeBusiness(AuthenticationService.User.Rowid);
        BLUser.BusinessName = "BLUser";

        ProfileImageData = AuthenticationService.GetUserPhoto();

        await base.OnInitializedAsync();
    }

}



