@using Siesa.SDK.Frontend.Components.Visualization
@using Siesa.SDK.Components.Visualization
@using Siesa.SDK.Frontend.Components.Fields
@using Siesa.SDK.Frontend.Application
@using Siesa.SDK.Shared.Services
@using Siesa.SDK.Frontend.Services
@inject IServiceProvider ServiceProvider


 <SDKFormLayout>
    <SDKFormLayoutItem ResourceTag="Custom.Group.AditionalFields.TagName" 
        ColSizeMd="12"
        ColSizeLg="12"
        ColSizeXl="12"
        ColSizeSm="12"
        ColSizeXs="12">
        <div class="mb-3">
            <h6><ResourceViewer ResourceTag="Custom.Group.AditionalFields.TagDescription"/></h6>
            <SDKCharField @bind-Value="@DynamicEntity.Tag"/>
        </div>
        <hr class="m-0 sdk_separator">
    </SDKFormLayoutItem>
    <SDKFormLayoutItem ResourceTag="Custom.Group.AditionalFields.IsDisableName"
        ColSizeMd="12"
        ColSizeLg="12"
        ColSizeXl="12"
        ColSizeSm="12"
        ColSizeXs="12">
        <div class="mb-3">
            <h6><ResourceViewer ResourceTag="Custom.Group.AditionalFields.IsDisableDescription"/></h6>
            <SDKSwitch @bind-Value="@DynamicEntity.IsDisable"/>
        </div>
        <hr class="m-0 sdk_separator">
    </SDKFormLayoutItem>
    <SDKFormLayoutItem ResourceTag="Custom.Group.AditionalFields.IsLockedName"
        ColSizeMd="12"
        ColSizeLg="12"
        ColSizeXl="12"
        ColSizeSm="12"
        ColSizeXs="12">
        <div class="mb-3">
            <h6><ResourceViewer ResourceTag="Custom.Group.AditionalFields.IsLockedDescription"/></h6>
            <SDKSwitch @bind-Value="@DynamicEntity.IsLocked"/>
        </div>
        <hr class="m-0 sdk_separator">
    </SDKFormLayoutItem>
    <SDKFormLayoutItem ResourceTag="Custom.Group.AditionalFields.SizeName"
        ColSizeMd="12"
        ColSizeLg="12"
        ColSizeXl="12"
        ColSizeSm="12"
        ColSizeXs="12">
        <h6>Defina el tamaño del dato.</h6>
        <SDKIntegerField @bind-Value="@SizeField"/>
    </SDKFormLayoutItem>
    <SDKFormLayoutItem ResourceTag="Tipo de visualizacion"
        ColSizeMd="12"
        ColSizeLg="12"
        ColSizeXl="12"
        ColSizeSm="12"
        ColSizeXs="12">
        <h6><ResourceViewer ResourceTag="Custom.Group.AditionalFields.SizeDescription"/></h6>
        <SDKRadioButton ItemType="int" @bind-Value="@Type" Data="@DataVisualizationType"/>
    </SDKFormLayoutItem>
 </SDKFormLayout>
