@page "/login"
@using System.ComponentModel.DataAnnotations
@using SDK.Components.Visualization
@using Siesa.SDK.Shared.Services
@using Siesa.SDK.Shared.DTOS
@using Siesa.SDK.Frontend.Navigation
@using Siesa.SDK.Frontend.Components.Layout
@using Siesa.SDK.Entities;
@using Newtonsoft.Json;
@inject IAuthenticationService AuthenticationService
@inject NavigationManager NavigationManager
@inject IBackendRouterService BackendRouterService
@inject IJSRuntime JSRuntime
@inject SDKNotificationService SDKNotificationService
@inject Blazored.LocalStorage.ILocalStorageService localStorageService
@inject UtilsManager UtilsManager
@layout EmptyLayout
@using Siesa.SDK.Frontend.Components.Visualization
@using Siesa.SDK.Shared.DataAnnotations
@using Siesa.SDK.Frontend.Components.Fields

<PageTitle>Login</PageTitle>

@if(SelectedConnection != null && SelectedConnection.Rowid != 0 && !string.IsNullOrEmpty(SelectedConnection.StyleUrl)){
     <head>
        <link rel="stylesheet" href="@AuthenticationService.GetConnectionStyle()">
    </head> 
}
<div class="back_login">
    <div class="col-12 offset-md-1 col-md-10 px-0 px-md-3" hidden="@init_loading">
        <div class="card_login col-12">
            <div class="row image_back">
                <div class="info_area col-md-12 col-lg-7 p-3 p-lg-4">
                    <div class="col-12 p-0 pb-5 mb-5 mb-md-4 d-flex justify-content-between">
                        <div>
                            <img src="_content/Siesa.SDK.Frontend/assets/img/LogoSiesaBlanco.svg" height="38px"
                                alt="logo_siesa_blanco">
                        </div>
                        <div class="d-sm-block d-md-none">
                            <button class="btn btn-primary btn_ghost_def_1 btn-sm ml-2" data-toggle="modal"
                                data-target="#infoModal"><i class="fa-solid fa-info"></i></button>
                        </div>
                    </div>
                    <div class="info_card d-none d-sm-none d-md-block col-12 p-3 p-md-3 p-lg-4 mt-4">
                        <h2 class="mb-md-2 mb-lg-3"><ResourceViewer ResourceTag="BLLogin.Demo.NewsTitle" RowidCulture=@RowidCulture /></h2>
                        <p class="mb-md-2 mb-lg-3"><ResourceViewer ResourceTag="BLLogin.Demo.NewsBody" RowidCulture=@RowidCulture /></p>
                        <div class="d-flex justify-content-between">
                            <button class="btn btn-primary btn_ghost_def_1 btn-sm px-4"><ResourceViewer ResourceTag="BLLogin.MoreInfo" RowidCulture=@RowidCulture /></button>
                            <div>
                                <button class="btn btn-primary btn_ghost_def_1 btn-sm"><i
                                        class="fa-solid fa-chevron-left"></i></button>
                                <button class="btn btn-primary btn_ghost_def_1 btn-sm ml-2"><i
                                        class="fa-solid fa-chevron-right"></i></button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="login_area col-12 col-lg-5 p-3 p-lg-3">
                    <div class="col-12 p-0 d-flex justify-content-center justify-content-lg-end align-items-center">
                        <select class="select_connect" id="SelectConnect" @onchange="OnChangeConnection">
                            <option value=""><ResourceViewer ResourceTag="BLUser.Login.Message.SelectDbConnection" RowidCulture=@RowidCulture /></option>
                            @if(ConnectionList != null && ConnectionList.Count > 0)
                            {
                                @foreach(var db in ConnectionList)
                                {
                                    <option value="@db.Rowid" selected="@(db.Rowid == SelectedConnection.Rowid)" >@db.Name</option>
                                }
                            }
                        </select>
                    

                        <i class="ml-2 fa-solid fa-globe"></i>
                        <div id="lang">
                            <div class="position-relative">
                                <button class="btn ml-2 d-flex btn_region" style="padding:0"
                                    @onclick="() => IsOpen = !IsOpen">
                                    @if(selectedCulture != null)
                                    {
                                        @*fi fi-selectedCulture.CountryCode fis rounded-circle*@
                                        <span class="fi fi-co fis rounded-circle"
                                        style="height:16px"></span>
                                    }else{
                                        <span class="fi fi-globe fis rounded-circle" style="height:16px"></span>
                                    }
                                    
                                    
                                </button>
                            </div>
                        </div>
                    </div>
                    <div class="row align-items-center py-5">
                        <div class="col-12 col-sm-12 col-md-6 col-lg-12">
                            <div class="row">
                                <div class="col-12 p-0 d-flex justify-content-center pb-4">
                                    <img src="@AuthenticationService.GetConnectionLogo()" height="48px"
                                        alt="logo_siesa_color">
                                </div>
                                <div class="col-12 p-0 pb-4 pb-md-0 pb-lg-4">
                                    <div class="col-12 text-center title_1">
                                        <ResourceViewer ResourceTag="BLLogin.Project.Welcome" RowidCulture=@RowidCulture />
                                    </div>
                                    <div class="col-12 text-center title_2">
                                        <ResourceViewer ResourceTag="BLLogin.InputYourData" RowidCulture=@RowidCulture />
                                    </div>

                                </div>
                            </div>
                        </div>
                        <div class="border_left_md col-12 col-sm-12 col-md-6 col-lg-12">
                            <div
                                class="col-12 offset-sm-2 col-sm-8 offset-md-1 col-md-10 offset-lg-2 col-lg-8 px-md-3 px-lg-0">
                                <EditForm id="@FormID" Model="@model" OnValidSubmit="HandleValidSubmit" OnInvalidSubmit="HandleInvalidSubmit">
                                    <DataAnnotationsValidator />
                                    <div class="form-group">
                                        <label class="col-form-label col-form-label-sm font-weight-bold" for="Username">
                                            <ResourceViewer ResourceTag="BLUser.Username" RowidCulture=@RowidCulture />
                                        </label>
                                        <SDKCharField 
                                            @bind-Value="model.Username" 
                                            AllowAutoComplete="true" 
                                            AutomationId="BLLogin.Username"
                                        />
                                        <SDKValidationMessage For="@(() => model.Username)" />
                                    </div>
                                    <div class="form-group">
                                        <label class="col-form-label col-form-label-sm font-weight-bold" for="Password">
                                            <ResourceViewer ResourceTag="BLUser.Password" RowidCulture=@RowidCulture />
                                        </label>
                                        <SDKCharField 
                                            @bind-Value="model.Password" 
                                            Password="true" 
                                            AllowAutoComplete="true"
                                            AutomationId="BLLogin.Username"
                                        />
                                        <SDKValidationMessage For="@(() => model.Password)" />
                                    </div>
                                    <SDKButton form="@FormID" SubmitFormOnClick="true" RenderStyle="SDKButtonRenderStyle.Primary" CssClass="btn-sm w-100 mt-2">
                                        @if (loading)
                                        {
                                            <span class="spinner-border spinner-border-sm mr-1"></span>
                                        }
                                        <ResourceViewer ResourceTag="BLUser.Login" RowidCulture=@RowidCulture />
                                    </SDKButton>
                                </EditForm>
                            </div>
                            <div class="col-12 p-0 text-center pt-4">
                                <a class="link_login" href="">
                                    <ResourceViewer ResourceTag="BLLogin.Project.ForgotPassword" RowidCulture=@RowidCulture />
                                </a>

                            </div>
                        </div>
                    </div>
                    <div class="text-center copy_right_text">
                        <ResourceViewer ResourceTag="Custom.Project.Version" RowidCulture=@RowidCulture /> -
                        <ResourceViewer ResourceTag="Custom.Project.Copy" RowidCulture=@RowidCulture />
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="infoModal" tabindex="-1" role="dialog" aria-labelledby="infoModalLabel"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content info_card_modal">
                <div class="modal-body">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span class="text-white" aria-hidden="true">&times;</span>
                    </button>
                    <h2 class="mb-2 pr-3"><ResourceViewer ResourceTag="BLLogin.Demo.NewsTitle" RowidCulture=@RowidCulture /></h2>
                    <p class="mb-2"><ResourceViewer ResourceTag="BLLogin.Demo.NewsBody" RowidCulture=@RowidCulture /></p>
                    <div class="d-flex justify-content-between">
                        <button class="btn btn-primary btn_ghost_def_1 btn-sm px-4"><ResourceViewer ResourceTag="BLLogin.MoreInfo" RowidCulture=@RowidCulture /></button>
                        <div>
                            <button class="btn btn-primary btn_ghost_def_1 btn-sm"><i
                                    class="fa-solid fa-chevron-left"></i></button>
                            <button class="btn btn-primary btn_ghost_def_1 btn-sm ml-2"><i
                                    class="fa-solid fa-chevron-right"></i></button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="modal fade" id="LangModal" tabindex="-1" role="dialog" aria-labelledby="infoModalLabel"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-body">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span class="text-white" aria-hidden="true">&times;</span>
                    </button>

                </div>
            </div>
        </div>
    </div>

    <div class="login_loading @GetCssLoding()">
        <div>
            <div class="text-center fa-4x font_color_3 mb-4">
                <i class="fas fa-spinner fa-pulse"></i>
            </div>
            <div class="text-center">
                <img src="@AuthenticationService.GetConnectionLogo()" height="82px" alt="logo_siesa">
            </div>
        </div>
    </div>


</div>

<DxDropDown @bind-IsOpen="@IsOpen" PositionMode="DropDownPositionMode.Bottom" PositionTarget="#lang"
    RestrictionTarget="#Navigation-DropDown-Customization" CloseMode="DropDownCloseMode.Close"
    PreventCloseOnPositionTargetClick="true" Id="boxRegion" CssClass="region_tooltip" MinWidth="230px" MaxWidth="250px" HeaderVisible="false"
    FooterVisible="false">
    <BodyTemplate>
        <Lang _Cultures="@cultures" _idRow="@RowidCulture" OnChangeCulture="@((rowid)=> OnChangeCulture(rowid))" />
    </BodyTemplate>
</DxDropDown>

@code {
    public string FormID { get; set; } = Guid.NewGuid().ToString();
    private Model model = new Model();
    private bool init_loading = true;
    private bool loading;
    private string error;
    bool IsOpen { get; set; } = false;

    private short RowidCulture { get; set; } = 1;
    private E00021_Culture selectedCulture { get; set; }
    List<E00021_Culture> cultures = new List<E00021_Culture>();

    //List<(short,string)> DbConnections { get; set; } = new List<(short,string)>();
    //private string SelectedDbConnection { get; set; } = "";

    private SDKDbConnection SelectedConnection  { get; set; } = new SDKDbConnection();

    List<SDKDbConnection> ConnectionList { get; set; } = new List<SDKDbConnection>();


    private string GetCssLoding()
    {
        if (!init_loading)
        {
            return "login_loading_close";
        }
        return "";
    }

    protected override async Task OnInitializedAsync()
    {
        init_loading = true;
        // redirect to home if already logged in
        if (AuthenticationService.User != null)
        {
            NavigationManager.NavigateTo("");
            return;
        }
        cultureDefault();
        await InitLogin();
    }

    private async Task InitLogin()
    {
        await getDbConnections();
        await getCultures();
        getSelectedCulture();
        //await getUserlang();
        init_loading = false;
        await base.OnInitializedAsync();
        StateHasChanged();
    }

    private async Task OnChangeCulture(short rowidCulture)
    {
        RowidCulture = rowidCulture;
        IsOpen = false;
        getSelectedCulture();
        await AuthenticationService.SetCustomRowidCulture(rowidCulture);
        StateHasChanged();
        //await localStorageService.SetItemAsync("userlang", RowidCulture.ToString());
    }

    private async void HandleInvalidSubmit()
    {
        SDKNotificationService.ShowError("BLUser.Login.Message.EnterData", culture: RowidCulture);
    }

    private async void HandleValidSubmit()
    {
        string message = "BLUser.Login.Message.SuccesLogin";
        loading = true;
        if(SelectedConnection == null)
        {
            //error = "BLLogin.SelectDbConnection";
            SDKNotificationService.ShowError("BLUser.Login.Message.SelectDbConnection", culture: RowidCulture);
            loading = false;
            StateHasChanged();
            return;
        }

        if(string.IsNullOrEmpty(model.Username) || string.IsNullOrEmpty(model.Password))
        {
            error = "BLLogin.EnterUserName";
            SDKNotificationService.ShowError("BLUser.Login.Message.EnterData", culture: RowidCulture);
            loading = false;
            StateHasChanged();
            return;
        }

        try
        {
            await AuthenticationService.Login(model.Username, model.Password,SelectedConnection.Rowid);
            NavigationManager.TryGetQueryString("returnUrl", out string returnUrl);
            if (returnUrl == null || returnUrl == "null")
            {
                returnUrl = "/";
            }
            SDKNotificationService.ShowSuccess(message, culture: AuthenticationService.GetRoiwdCulture());
            NavigationManager.NavigateTo(returnUrl);
        }
        catch (Exception ex)
        {
            error = ex.Message;
            SDKNotificationService.ShowError("BLUser.Login.Message.InvalidCredentials", culture: RowidCulture);
            loading = false;
            StateHasChanged();
        }
    }
    
    private async Task getDbConnections()
    {
        var userBL = BackendRouterService.GetSDKBusinessModel("BLUser", AuthenticationService);
        if(userBL == null)
        {
            return;
        }
        var result = await userBL.Call("GetDBConnections");
        if(result.Success)
        {

            ConnectionList = result.Data as List<SDKDbConnection>;
            if(AuthenticationService.GetSelectedConnection() == null || AuthenticationService.GetSelectedConnection().Rowid == 0){

                SelectedConnection = ConnectionList.First();
                AuthenticationService.SetSelectedConnection(SelectedConnection);
            }else{
                SelectedConnection = AuthenticationService.GetSelectedConnection();
            }

            //DbConnections = result.Data as List<(short,string)>;
            //SelectedDbConnection = DbConnections.First().Item1.ToString(); 
        }
    }

    private async Task getCultures()
    {
        cultures = await getCulturesAsync();
    }

    private async Task<List<E00021_Culture>> getCulturesAsync(){
        List<E00021_Culture> _cultures = new List<E00021_Culture>();
                        var cultureBL = BackendRouterService.GetSDKBusinessModel("BLCulture", AuthenticationService);
        if (cultureBL == null)
        {
            throw new Exception("Culture Service not found");
        }
        var _Allcultures = await cultureBL.GetData(null, null);
        if (_Allcultures != null)
        {
            /*_cultures = _Allcultures.Data.Select(x => JsonConvert.DeserializeObject<E00021_Culture>(x)).Where(x => x.CountryCode !=
            null).ToList();*/

            _cultures = _Allcultures.Data.Select(x => JsonConvert.DeserializeObject<E00021_Culture>(x)).ToList();
        }    
        return _cultures;
    }
    private void getSelectedCulture()
    {

        if (cultures != null)
        {
            selectedCulture = cultures.FirstOrDefault(x => x.Rowid == RowidCulture);
        }
        else
        {
            cultureDefault();
        }
    }

    private async Task getUserlang()
    {
        short userlang;
        try
        {
            userlang = AuthenticationService.GetRoiwdCulture();
        }
        catch (Exception ex)
        {
            throw new Exception(ex.ToString());
        }

        if (cultures == null)
        {
           cultures = await getCulturesAsync();

        }

        if (userlang == 0)
            {
                var BrowserLang = await JSRuntime.InvokeAsync<string>("getBrowserLang");
                string[] language = BrowserLang.Split('-');
                selectedCulture = cultures.FirstOrDefault(x => x.LanguageCode.ToLower() == language[0].ToLower() && x.CountryCode.ToLower() == language[1].ToLower());
            }
            else
            {
                selectedCulture = cultures.FirstOrDefault(x => x.Rowid == userlang);
            }

            if (selectedCulture == null){
                cultureDefault();
                try {

                    await AuthenticationService.RemoveCustomRowidCulture();
                }catch(Exception ex){
                   
                }
            }else{
                OnChangeCulture(selectedCulture.Rowid);
            }
    }

    private void cultureDefault(){
        selectedCulture = new E00021_Culture()
            {
                Rowid = 1,
                CountryCode = "co",
                Description = "Colombia",
                LanguageCode = "Es-co"
            };
    }

    void OnChangeConnection(ChangeEventArgs e)
    {
        try
        {
           var rowidConnection = Convert.ToInt16(e.Value.ToString());
            SelectedConnection = ConnectionList.FirstOrDefault(x => x.Rowid == rowidConnection); 
        }
        catch (System.Exception)
        {
            
            SelectedConnection = new SDKDbConnection();
        }
        AuthenticationService.SetSelectedConnection(SelectedConnection);
        
        StateHasChanged();
    }
}