@page "/login"
@page "/login/recoverypassword/{RowIdDBConnection}/{UserToken}"

@layout EmptyLayout
@using System.ComponentModel.DataAnnotations
@using SDK.Components.Visualization
@using Siesa.SDK.Shared.Services
@using Siesa.SDK.Shared.DTOS
@using Siesa.SDK.Frontend.Navigation
@using Siesa.SDK.Frontend.Components.Layout
@using Siesa.SDK.Entities;
@using Newtonsoft.Json;
@using Microsoft.Extensions.Configuration
@using Siesa.SDK.Frontend.Components.Visualization
@using Siesa.SDK.Shared.DataAnnotations
@using Siesa.SDK.Frontend.Components.Fields
@using Blazor.IndexedDB.Framework;
@using Microsoft.AspNetCore.Http
@inject IAuthenticationService AuthenticationService
@inject NavigationManager NavigationManager
@inject IBackendRouterService BackendRouterService
@inject IJSRuntime JSRuntime
@inject SDKNotificationService SDKNotificationService
@inject Blazored.LocalStorage.ILocalStorageService localStorageService
@inject UtilsManager UtilsManager
@inject IIndexedDbFactory DbFactory
@inject IHttpContextAccessor HttpContextAccessor
@inject IConfiguration Configuration


<PageTitle>Login | <ResourceViewer ResourceTag="Custom.Project.Name" RowidCulture=@RowidCulture /></PageTitle>

@if(SelectedConnection != null && SelectedConnection.Rowid != 0 && !string.IsNullOrEmpty(SelectedConnection.StyleUrl)){
     <head>
        <link rel="stylesheet" href="@AuthenticationService.GetConnectionStyle()">
    </head> 
}
@if (loading)
{
    <div class="sdk-loader">
        <div class="sdk-loader-logo"></div>
    </div>
}
<div class="s_login_content col-12">
    <div class="row h-100">
        <div class="col-xl-7 col-lg-7 col-md-12 col-sm-12 p-0">
            <img class="s_image_back" src="@_imageLogin" alt="imagen_login">
            <div class="s_product_name">
                <img class="s_siesa_log_min" src="_content/Siesa.SDK.Frontend/assets/img/LogoSiesaBlanco.svg" alt="logo_business">
                <div class="s_product_text"><ResourceViewer ResourceTag="Custom.Project.Copy" RowidCulture=@RowidCulture/></div>
            </div>
        </div>
        <div class="col-xl-5 col-lg-5 col-md-12 col-sm-12 d-flex justify-content-center align-items-center s_form_content ">
            <div class="s_siesa_logo_top">
                <img src="_content/Siesa.SDK.Frontend/assets/img/siesaLogo.png" height="42px" alt="logo_siesa">
            </div>
            <div class="s_form_box">
                <div class="col-12 p-0 pb-5 d-flex justify-content-center align-items-center">
                    @if (string.IsNullOrEmpty(UserToken))
                    {
                        <select class="select_connect" id="SelectConnect" @onchange="OnChangeConnection">
                            <option value=""><ResourceViewer ResourceTag="BLUser.Login.Message.SelectDbConnection" RowidCulture=@RowidCulture/></option>
                            @if (ConnectionList != null && ConnectionList.Count > 0)
                            {
                                @foreach (var db in ConnectionList)
                                {
                                    <option value="@db.Rowid" selected="@(db.Rowid == SelectedConnection.Rowid)">@db.Name</option>
                                }
                            }
                        </select>
                        <i class="ml-2 fa-solid fa-globe"></i>
                    }
                    <div class="position-relative">
                        <div id="lang">
                            <button class="btn ml-2 d-flex btn_region" style="padding:0"
                                    @onclick="() => IsOpen = !IsOpen" data-automation-id="Button_Select_Culture">
                                @if (selectedCulture != null)
                                {
                                    <span class="@classCulture"
                                          style="height:16px"></span>
                                }
                                else
                                {
                                    <span class="fi fi-globe fis rounded-circle" style="height:16px"></span>
                                }
                            </button>
                        </div>
                    </div>
                </div>
                <div class="mb-5 text-center w-100">
                    <img class="s_business_logo" src="@LogoUrl"/>
                </div>
                <div class="form-group title_2">
                    <ResourceViewer ResourceTag="BLLogin.InputYourData" RowidCulture=@RowidCulture/>
                </div>
                @if (RecoveringPassword)
                {
                    <ForgotPassword Click="@NavigateFormLogin" RowidCulture="@RowidCulture"/>

                }
                else if (!string.IsNullOrEmpty(UserToken))
                {
                    <RecoveryPassword UserToken="@UserToken" SelectedConnection="@SelectedConnection"
                                      RowidCulture="@RowidCulture"/>
                }
                else
                {
                    <EditForm id="@FormID" Model="@model" OnValidSubmit="HandleValidSubmit" OnInvalidSubmit="HandleInvalidSubmit">
                        <DataAnnotationsValidator/>
                        <div class="form-group">
                            <label class="col-form-label col-form-label-sm font-weight-bold" for="Username">
                                <ResourceViewer ResourceTag="BLUser.Username" RowidCulture=@RowidCulture/>
                            </label>
                            <SDKCharField
                                @bind-Value="model.Username"
                                AllowAutoComplete="true"
                                AutomationId="BLLogin.Username"
                                AutoFocus=true/>
                            <SDKValidationMessage For="@(() => model.Username)"/>
                        </div>
                        <div class="form-group">
                            <label class="col-form-label col-form-label-sm font-weight-bold" for="Password">
                                <ResourceViewer ResourceTag="BLUser.Password" RowidCulture=@RowidCulture/>
                            </label>
                            <SDKCharField
                                @bind-Value="model.Password"
                                Password="true"
                                AllowAutoComplete="true"
                                AutomationId="BLLogin.Password"/>
                            <SDKValidationMessage For="@(() => model.Password)"/>
                        </div>
                        <div class="pt-2 form-group">
                            <SDKButton form="@FormID" SubmitFormOnClick="true" RenderStyle="SDKButtonRenderStyle.Primary" CssClass="btn-sm w-100" Enabled="@(!loading)">
                                @if (loading)
                                {
                                    <span class="spinner-border spinner-border-sm mr-1"></span>
                                }
                                <ResourceViewer ResourceTag="BLUser.Login" RowidCulture=@RowidCulture/>
                            </SDKButton>
                        </div>
                    </EditForm>
                    <div class="p-0 text-center">   
                        <SDKButton RenderStyle="SDKButtonRenderStyle.Link" Click="@ForgotPassword" ResourceTag="BLLogin.Project.ForgotPassword"/>
                    </div>
                }
            </div>
            <div class="text-center copy_right_text">
                <ResourceViewer ResourceTag="Custom.Project.Version" RowidCulture=@RowidCulture/>
            </div>
        </div>
    </div>
</div>
<SDKDropDown @bind-IsOpen="@IsOpen" PositionMode="DropDownPositionMode.Bottom" PositionTarget="#lang"
             RestrictionTarget="#Navigation-DropDown-Customization" CloseMode="DropDownCloseMode.Close"
             PreventCloseOnPositionTargetClick="true" CssClass="region_tooltip" MinWidth="230px" MaxWidth="250px" HeaderVisible="false"
             FooterVisible="false" AutomationId="Cultures_Login">
    <BodyTemplate>
        <Lang _Cultures="@cultures" _idRow="@RowidCulture" OnChangeCulture="@((rowid) => OnChangeCulture(rowid))"/>
    </BodyTemplate>
</SDKDropDown>
@code {

    [Parameter] public bool? RecoveryPassword { get; set; }
    [Parameter] public string? UserToken { get; set; }
    [Parameter] public string? RowIdDBConnection { get; set; }


    string classCulture = "";
    public string FormID { get; set; } = Guid.NewGuid().ToString();
    private SDKLoginModelDTO model = new SDKLoginModelDTO();
    private bool init_loading = true;
    private bool loading;

    private string error;
    bool IsOpen { get; set; } = false;

    private short RowidCulture { get; set; } = 1;
    private E00021_Culture selectedCulture { get; set; }

    private string LogoUrl { get; set; } = "";
    List<E00021_Culture> cultures = new List<E00021_Culture>();

    //List<(short,string)> DbConnections { get; set; } = new List<(short,string)>();
    //private string SelectedDbConnection { get; set; } = "";

    private SDKDbConnection SelectedConnection  { get; set; } = new SDKDbConnection();

    List<SDKDbConnection> ConnectionList { get; set; } = new List<SDKDbConnection>();

    private bool RecoveringPassword { get; set; } = false;

    private string _imageLogin { get; set; } 
    
    private void ForgotPassword()
    {
        RecoveringPassword = true;
    }
    public void NavigateFormLogin()
    {
        RecoveringPassword = false;
        StateHasChanged();
    }

    protected override async Task OnInitializedAsync()
    {
        _imageLogin = Configuration["ImageLogin"];
        
        if (string.IsNullOrEmpty(_imageLogin))
            _imageLogin = "_content/Siesa.SDK.Frontend/assets/img/log_image_2.png";
        
        LogoUrl = AuthenticationService.GetConnectionLogo();
        // redirect to home if already logged in
        if (AuthenticationService.User != null)
        {
            NavigationManager.NavigateTo("");
            return;
        }
        
        cultureDefault();
        await InitLogin();        
    }

    protected override async Task OnParametersSetAsync()
    {
        LogoUrl = AuthenticationService.GetConnectionLogo();
        init_loading = true;
        await InitLogin();


        await base.OnParametersSetAsync();
    }

    private async Task InitLogin()
    {
        init_loading = true;
        await getDbConnections();
        await getCultures();
        getSelectedCulture();
        await getUserlang();
        init_loading = false;
        await base.OnInitializedAsync();
        await ImportJs();
        StateHasChanged();
    }
    private async Task OnChangeCulture(short rowidCulture)
    {
        RowidCulture = rowidCulture;
        IsOpen = false;
        getSelectedCulture();
        AuthenticationService.RowidCultureChanged = rowidCulture;
        await AuthenticationService.SetCustomRowidCulture(rowidCulture);
        StateHasChanged();
        //await localStorageService.SetItemAsync("userlang", RowidCulture.ToString());
    }

    private async void HandleInvalidSubmit()
    {
        SDKNotificationService.ShowError("BLUser.Login.Message.EnterData", culture: RowidCulture);
    }

    private async void HandleValidSubmit()
    {
        string message = "BLUser.Login.Message.SuccesLogin";
        loading = true;
        if(SelectedConnection == null)
        {
            //error = "BLLogin.SelectDbConnection";
            SDKNotificationService.ShowError("BLUser.Login.Message.SelectDbConnection", culture: RowidCulture);
            loading = false;
            StateHasChanged();
            return;
        }

        if(string.IsNullOrEmpty(model.Username) || string.IsNullOrEmpty(model.Password))
        {
            error = "BLLogin.EnterUserName";
            SDKNotificationService.ShowError("BLUser.Login.Message.EnterData", culture: RowidCulture);
            loading = false;
            StateHasChanged();
            return;
        }

        try
        {
            await AuthenticationService.Login(model.Username, model.Password,SelectedConnection.Rowid);
            NavigationManager.TryGetQueryString("returnUrl", out string returnUrl);
            if (returnUrl == null || returnUrl == "null")
            {
                returnUrl = "/";
            }
            SDKNotificationService.ShowSuccess(message, culture: AuthenticationService.GetRowidCulture());
            NavigationManager.NavigateTo(returnUrl);
        }
        catch (Exception ex)
        {
            error = ex.Message;
            SDKNotificationService.ShowError("BLUser.Login.Message.InvalidCredentials", culture: RowidCulture);
            loading = false;
            StateHasChanged();
        }
    }

    
    private async Task getDbConnections()
    {
        var userBL = BackendRouterService.GetSDKBusinessModel("BLUser", AuthenticationService);
        if(userBL == null)
        {
            return;
        }
        string HostName = HttpContextAccessor.HttpContext?.Request.Host.Host;

        var result = await userBL.Call("GetDBConnections", HostName);
        if(result.Success)
        {

            ConnectionList = result.Data as List<SDKDbConnection>;

            if( !string.IsNullOrEmpty(RowIdDBConnection) && short.Parse(RowIdDBConnection) != 0 )
            {
                SelectedConnection = ConnectionList.FirstOrDefault(x => x.Rowid == short.Parse(RowIdDBConnection));

                _ = AuthenticationService.SetSelectedConnection(SelectedConnection);
            }
            else if(AuthenticationService.GetSelectedConnection() == null || AuthenticationService.GetSelectedConnection().Rowid == 0){

                SelectedConnection = ConnectionList.First();
                _ = AuthenticationService.SetSelectedConnection(SelectedConnection);
            }else{
                var _selectedConnection = ConnectionList.FirstOrDefault(x => x.Rowid == AuthenticationService.GetSelectedConnection().Rowid);
                if(_selectedConnection != null){
                    SelectedConnection = _selectedConnection;

                }else{
                    SelectedConnection = ConnectionList.First();
                }
                _ = AuthenticationService.SetSelectedConnection(SelectedConnection);
            }

            //DbConnections = result.Data as List<(short,string)>;
            //SelectedDbConnection = DbConnections.First().Item1.ToString(); 
        }
    }

    private async Task getCultures()
    {
        cultures = await getCulturesAsync();
    }

    private async Task<List<E00021_Culture>> getCulturesAsync(){
        List<E00021_Culture> _cultures = new List<E00021_Culture>();
                        var cultureBL = BackendRouterService.GetSDKBusinessModel("BLCulture", AuthenticationService);
        if (cultureBL == null)
        {
            throw new Exception("Culture Service not found");
        }
        var _Allcultures = await cultureBL.GetData(null, null);
        if (_Allcultures != null)
        {
            /*_cultures = _Allcultures.Data.Select(x => JsonConvert.DeserializeObject<E00021_Culture>(x)).Where(x => x.CountryCode !=
            null).ToList();*/

            _cultures = _Allcultures.Data.Select(x => JsonConvert.DeserializeObject<E00021_Culture>(x)).ToList();
        }    
        return _cultures;
    }
    private void getSelectedCulture()
    {
        if (cultures != null)
        {
            selectedCulture = cultures.FirstOrDefault(x => x.Rowid == RowidCulture);
        }
        else
        {
            cultureDefault();
        }
        classCulture = $"fi fi-{GetCountryFlagCode(selectedCulture)} fis rounded-circle";
        
    }

    private async Task getUserlang()
    {
        short userlang;
        try
        {
            userlang = AuthenticationService.GetRowidCulture();
        }
        catch (Exception ex)
        {
            throw new Exception(ex.ToString());
        }

        if (cultures == null)
        {
           cultures = await getCulturesAsync();

        }
        try
        {
            if (userlang == 0)
            {
                var BrowserLang = await JSRuntime.InvokeAsync<string>("getBrowserLang");
                string[] language = BrowserLang.Split('-');
                selectedCulture = cultures.FirstOrDefault(x => x.LanguageCode.ToLower() == language[0].ToLower() && x.CountryCode.ToLower() == language[1].ToLower());
            }
            else
            {
                selectedCulture = cultures.FirstOrDefault(x => x.Rowid == userlang);
            }
        }catch(Exception ex)
        {
        }

        if (selectedCulture == null){
            cultureDefault();
            try {

                await AuthenticationService.RemoveCustomRowidCulture();
            }catch(Exception ex){
                
            }
        }else{
            OnChangeCulture(selectedCulture.Rowid);
        }
    }

    private void cultureDefault(){
        selectedCulture = new E00021_Culture()
            {
                Rowid = 1,
                CountryCode = "co",
                Description = "Colombia",
                LanguageCode = "Es-co"
            };        
    }

    private async Task OnChangeConnection(ChangeEventArgs e)
    {
        try
        {
            var rowidConnection = Convert.ToInt16(e.Value.ToString());
            SelectedConnection = ConnectionList.FirstOrDefault(x => x.Rowid == rowidConnection);

            if(SelectedConnection != null)
            {
                await localStorageService.RemoveItemAsync("rowidCompanyGroup");
                await localStorageService.RemoveItemAsync("imageCompanyGroup");
                AuthenticationService.SetSelectedSuite(0);

                LogoUrl = AuthenticationService.GetConnectionLogo();
            } 

        }
        catch (System.Exception)
        {
            
            SelectedConnection = new SDKDbConnection();
        }
         _ = AuthenticationService.SetSelectedConnection(SelectedConnection);
        
        StateHasChanged();
    }

    private async Task ImportJs()
    {
        try
        {
            await JSRuntime.InvokeAsync<IJSObjectReference>("import", "./_content/Siesa.SDK.Frontend/js/utils.js");
        }catch (Exception)
        {
        }
        try
        {
            await JSRuntime.InvokeAsync<IJSObjectReference>("import", "./_content/Siesa.SDK.Frontend/Pages/Login/Login.razor.js");
        }
        catch (Exception)
        {
        }
    }

    private string GetCountryFlagCode (E00021_Culture culture)
    {
        if(!string.IsNullOrEmpty(culture.CountryCode))
        {
            return culture.CountryCode;
        }

        switch (culture.LanguageCode)
        {
            case "en":
                return "us";
            case "es":
                return "co";
            case "fr":
                return "fr";
            case "de":
                return "de";
            case "it":
                return "it";
            case "pt":
                return "pt";
            case "ru":
                return "ru";
            case "zh":
                return "cn";
            case "ja":
                return "jp";
            case "ko":
                return "kr";
            default:
                return "co";
        }
    }
}