@using Siesa.SDK.Frontend.Components.Fields
@using Siesa.SDK.Frontend.Components.Visualization
@using Siesa.SDK.Components.Visualization
@using Siesa.SDK.Entities
@using Siesa.Global.Enums
@using System.Globalization

@layout EmptyLayout

<div class="container-fluid">
    <div class="container-fluid">
            <h2>SDKKanban</h2> 
            <p>Demonstration and configuration of the SDKKanban component</p> 
    </div>
</div> 

<div style="height:600px;">
        <SDKKanban ColumnList="@StatusList" Items="@Items" OnChange="@OnchangeColumn" OnGetItemColumn="@OnGetItemColumn"
            ItemType="E00061_Menu">
                <ItemTemplate>
                    <div class="container">
                    <SDKCard>
                        <div class="row">
                            <div class="col-2">
                                <i class="fa-solid fa-eye"></i>
                            </div>
                            <div class="col-10">
                                <h3>@context.Url</h3>
                                <p>Tipo: XYZYZXYZXYZ</p>
                                <p>Numero: XYZYZXYZXYZ</p>
                                <p>Fecha: XYZYZXYZXYZ</p>
                            </div>
                        </div>
                    </SDKCard>
                    </div>
                </ItemTemplate>
        </SDKKanban>
</div>


@code{

    private List<Tuple<int,string>> StatusList = new List<Tuple<int,string>>()
    {
        new Tuple<int, string>(1, "Separator"),
        new Tuple<int, string>(2, "CustomMenu"),
        new Tuple<int, string>(3, "Feacture")    
    };

    private List<E00061_Menu> Items = new List<E00061_Menu>()
    {
        new E00061_Menu(){Url= "Item 1", Type = MenuType.Separator},
        new E00061_Menu(){Url= "Item 2", Type = MenuType.CustomMenu},
        new E00061_Menu(){Url= "Item 3", Type = MenuType.Feature},
        new E00061_Menu(){Url= "Item 4", Type = MenuType.Separator},
        new E00061_Menu(){Url= "Item 5", Type = MenuType.CustomMenu}
    };

    private void OnchangeColumn(E00061_Menu menu, int column)
    {
        switch (column)
        {
            case 1:
                menu.Type = MenuType.Separator;
                break;
            case 2:
                menu.Type = MenuType.Feature;
                break;
            case 3:
                menu.Type = MenuType.CustomMenu;
                break;

            default:
                break;
        }
    }

    private int OnGetItemColumn(E00061_Menu menu)
    {
        switch (menu.Type)
        {
            case MenuType.Separator:
                return 1; 
            case MenuType.Feature:
                return 2;
            case MenuType.CustomMenu:
                return 3;
            default:
                break;
        }
        return 0;
    }
}