@using Siesa.SDK.Frontend.Components.Fields
@using Siesa.SDK.Frontend.Components.Visualization
@using Siesa.SDK.Components.Visualization

@inject SDKNotificationService Notification


@layout EmptyLayout

<div class="container-fluid">
    <div class="container-fluid">
            <h2>SDKSwitch</h2> 
            <p>Demonstration and configuration of the SDKSwitch component</p> 
    </div>
    <div class="row px-3"> 
        <div class="col-md-6 p-3">
            <SDKCard>
                <h3>Switch bind-value</h3>
                <p>Estado: @Status</p>
                <SDKSwitch @bind-Value="@Status"/>
            </SDKCard>
        </div>
        <div class="col-md-6 p-3">
            <SDKCard>
                <h3>Switch Disabled</h3>
                <p>Estado: @Status3</p>
                <SDKSwitch @bind-Value="@Status3" Disabled="true"/>
            </SDKCard>
        </div>
        <div class="col-md-6 p-3">
            <SDKCard>
                <h3>Switch Value Change</h3>
                <p>Estado: @StatusChange</p>
                <SDKSwitch Value=@StatusChange ValueChanged="((Status2) => Onchange(Status2))"/>
            </SDKCard>
        </div>
    </div>
</div>

@code
{
    bool Status;

    bool Status3;

    bool StatusChange;

    public void Onchange(bool Status2){

        StatusChange = Status2;

        if (StatusChange)
        {
            Notification.ShowSuccess("El estado del Switch es True");
        }
        else
        {
            Notification.ShowWarning("El estado del Switch es False");
        }
    }
}