@using Siesa.SDK.Frontend.Components.Fields
@using Siesa.SDK.Frontend.Components.Visualization
@using Siesa.SDK.Components.Visualization
@using Microsoft.AspNetCore.Components.Forms

@layout EmptyLayout

<div class="container-fluid">
    <div class="container-fluid">
            <h2>SDKInputFile</h2> 
            <p>Demonstration and configuration of the SDKInputFile component</p> 
    </div>
    <div class="row px-3"> 
        <div class="col-md-6 p-3">
            <SDKCard > 
                <p>Sinlge</p>
                <SDKInputFile IsMultiple="false" FilterType="image/*, .pdf"
                 BusinessName="BLCity"  OnInputFile="@OnInputFile" @ref="@_refinputFile"/>
            </SDKCard>

            <button @onclick="@(()=> UploadFile())">Upload File</button>
        </div>
        <div class="col-md-6 p-3">
            <SDKCard >
                <p>Multiple</p>
                <p>Para el inputFile Con IsMultiple en true es necesario agragar el RowidAttachmentRelationship</p>
                <SDKInputFile IsMultiple="true" FilterType="image/*, .pdf"
                 BusinessName="BLCity"  OnInputFile="@OnInputFile" @ref="@_refinputFileMulti" RowidAttachmentRelationship="624"/>
            </SDKCard>

            <button @onclick="@(()=> UploadFileMulti())">Upload File</button>
        </div>
    </div>
</div>


@code
{
    public SDKInputFile? _refinputFile;
    public SDKInputFile? _refinputFileMulti;

    public void OnInputFile(InputFileChangeEventArgs FileInput)
    {
        Console.WriteLine("OnInputFile Success");
    }

    public void UploadFile()
    {
        _refinputFile.SDKUploadFile();
    }

    public void UploadFileMulti()
    {
        _refinputFileMulti.SDKUploadFile();
    }

}

