@using Siesa.SDK.Frontend.Components.Fields
@using Siesa.SDK.Frontend.Components.Visualization
@using Siesa.SDK.Components.Visualization
@using Microsoft.AspNetCore.Components.Forms

@layout EmptyLayout

<div class="container-fluid">
    <div class="container-fluid">
            <h2>SDKInputFile</h2> 
            <p>Demonstration and configuration of the SDKInputFile component</p> 
    </div>
    <div class="row px-3"> 
        <div class="col-md-6 p-3">
            <SDKCard > 
                <p>Sinlge</p>
                <SDKInputFile IsMultiple="false" FilterType="image/*, .pdf"
                 BusinessName="BLCity"  OnInputFile="@OnInputFile" @ref="@_refinputFile"/>
            </SDKCard>

            <button @onclick="@(()=> UploadFile())">Upload File</button>
        </div>
        <div class="col-md-6 p-3">
            <SDKCard > 
                <p>Sinlge Detail</p>
                <p>Para poner el inputFile en vista detalle se envia parametro "IsDetail" en true</p>
                <SDKInputFile IsMultiple="false" FilterType="image/*, .pdf"
                 BusinessName="BLCity"  OnInputFile="@OnInputFile" @ref="@_refinputFileSingledetail" IsDetail="true" RowidAttachmentDetail="152"/>
            </SDKCard>
        </div>
        <div class="col-md-6 p-3">
            <SDKCard >
                <p>Multiple</p>
                <p>Para el inputFile Con IsMultiple en true es necesario agragar el RowidAttachmentRelationship</p>
                <SDKInputFile IsMultiple="true" FilterType="image/*, .pdf"
                 BusinessName="BLCity"  OnInputFile="@OnInputFile" @ref="@_refinputFileMulti" RowidAttachmentRelationship="624"/>
            </SDKCard>

            <button @onclick="@(()=> UploadFileMulti())">Upload File</button>
        </div>
        <div class="col-md-6 p-3">
            <SDKCard >
                <p>Multiple Detail</p>
                <p>Para el detalle tambien es posible enviar un parametro para mostrar o no el priview de la imagen seleccionada "ShowPreview" por defecto true</p>
                <SDKInputFile IsMultiple="true" FilterType="image/*, .pdf"
                 BusinessName="BLCity"  OnInputFile="@OnInputFile" @ref="@_refinputFileDetail" RowidAttachmentRelationship="624" IsDetail="true" ShowPreview="false"/>
            </SDKCard>
        </div>        
    </div>
</div>


@code
{
    public SDKInputFile? _refinputFile;
    public SDKInputFile? _refinputFileMulti;
    public SDKInputFile? _refinputFileDetail;
    public SDKInputFile? _refinputFileSingledetail;

    public void OnInputFile(InputFileChangeEventArgs FileInput)
    {
        Console.WriteLine("OnInputFile Success");
    }

    public void UploadFile()
    {
        _refinputFile.SDKUploadFile();
        StateHasChanged();
    }

    public void UploadFileMulti()
    {
        _refinputFileMulti.SDKUploadFile();
        StateHasChanged();
    }

}

