@using Siesa.SDK.Frontend.Components.Fields
@using Siesa.SDK.Frontend.Components.Visualization
@using Siesa.SDK.Components.Visualization

<div class="back_login">
    <div class="col-12 offset-md-1 col-md-10 px-0 px-md-3" hidden="@init_loading">        
        <div class="card_login col-12">
            <div class="row image_back" data-image="assets/img/log_image_2.jpg">
                <div class="info_area col-md-12 col-lg-7 p-3 p-lg-4">                    
                    <div class="info_card d-none d-sm-none d-md-none col-12 p-3 p-md-3 p-lg-4 mt-4">
                        <h2 class="mb-md-2 mb-lg-3"><ResourceViewer ResourceTag="BLLogin.Demo.NewsTitle" RowidCulture=@RowidCulture /></h2>
                        <p class="mb-md-2 mb-lg-3"><ResourceViewer ResourceTag="BLLogin.Demo.NewsBody" RowidCulture=@RowidCulture /></p>
                        <div class="d-flex justify-content-between">
                            <SDKButton CssClass="btn btn-primary btn_ghost_def_1 btn-sm px-4" ResourceTag="BLLogin.MoreInfo" RowidCulture=@RowidCulture />
                            <div>
                                <button class="btn btn-primary btn_ghost_def_1 btn-sm"><i
                                        class="fa-solid fa-chevron-left"></i></button>
                                <button class="btn btn-primary btn_ghost_def_1 btn-sm ml-2"><i
                                        class="fa-solid fa-chevron-right"></i></button>
                            </div>
                        </div>
                    </div>
                    <div class="title_0">
                         <ResourceViewer ResourceTag="Custom.Project.Copy" RowidCulture=@RowidCulture />
                    </div>
                </div>
                <div class="login_area col-12 col-lg-5 p-3 p-lg-3">
                    <div class="text-left text-md-center text-lg-left pb-5">
                        <img src="@LogoUrl" height="35px" alt="logo_siesa">
                    </div>
                    <div class="col-12 p-0 d-flex justify-content-center align-items-center">                        
                        <div id="lang">
                            <div class="position-relative">
                                <button class="btn ml-2 d-flex btn_region" style="padding:0"
                                     data-automation-id="Button_Select_Culture">
                                    @if(selectedCulture != null)
                                    {
                                        <span class="@classCulture"
                                        style="height:16px"></span>
                                    }else{
                                        <span class="fi fi-globe fis rounded-circle" style="height:16px"></span>
                                    }
                                </button>
                            </div>
                        </div>
                    </div>
                    <div class="row align-items-center py-5">
                        <div class="col-12 col-sm-12 col-md-6 col-lg-12">
                            <div class="row">
                                <div class="col-12 p-0 d-flex justify-content-center pb-5 pb-md-0 pb-lg-5">
                                    <img class="logo_company_login" src="@LogoUrl"/>
                                </div>                                
                            </div>
                        </div>
                        <div class="border_left_md col-12 col-sm-12 col-md-6 col-lg-12">
                            <div class="col-12 offset-sm-2 col-sm-8 offset-md-1 col-md-10 offset-lg-2 col-lg-8 px-md-3 px-lg-0">
                                <div class="col-12 px-0 pb-3 title_2 text-center text-lg-left">
                                        <ResourceViewer ResourceTag="BLLogin.InputYourData" RowidCulture=@RowidCulture />
                                </div>

                            </div>
                            @if(RecoveringPassword){
                                @* <ForgotPassword _login="@this" /> *@
                            }else{
                                <div
                                    class="col-12 offset-sm-2 col-sm-8 offset-md-1 col-md-10 offset-lg-2 col-lg-8 px-md-3 px-lg-0">
                                    <EditForm id="@FormID" Model="@model" OnValidSubmit="HandleValidSubmit" OnInvalidSubmit="HandleInvalidSubmit">
                                        <DataAnnotationsValidator />
                                        <div class="form-group">
                                            <label class="col-form-label col-form-label-sm font-weight-bold" for="Username">
                                                <ResourceViewer ResourceTag="BLUser.Username" RowidCulture=@RowidCulture />
                                            </label>
                                            <SDKCharField 
                                                @bind-Value="model.Username" 
                                                AllowAutoComplete="true" 
                                                AutomationId="BLLogin.Username"
                                            />
                                            <SDKValidationMessage For="@(() => model.Username)" />
                                        </div>
                                        <div class="form-group">
                                            <label class="col-form-label col-form-label-sm font-weight-bold" for="Password">
                                                <ResourceViewer ResourceTag="BLUser.Password" RowidCulture=@RowidCulture />
                                            </label>
                                            <SDKCharField 
                                                @bind-Value="model.Password" 
                                                Password="true" 
                                                AllowAutoComplete="true"
                                                AutomationId="BLLogin.Password"
                                            />
                                            <SDKValidationMessage For="@(() => model.Password)" />
                                        </div>
                                        <SDKButton form="@FormID" SubmitFormOnClick="true" RenderStyle="SDKButtonRenderStyle.Primary" CssClass="btn-sm w-100 mt-2" Enabled="@(!loading)">
                                            @if (loading)
                                            {
                                                <span class="spinner-border spinner-border-sm mr-1"></span>
                                            }
                                            <ResourceViewer ResourceTag="BLUser.Login" RowidCulture=@RowidCulture />
                                        </SDKButton>
                                    </EditForm>
                                </div>
                                <div class="col-12 p-0 text-center pt-4">
                                    <SDKButton RenderStyle="SDKButtonRenderStyle.Link" ResourceTag="BLLogin.Project.ForgotPassword"/>
                                </div>
                            }
                        </div>
                    </div>
                    <div class="text-center copy_right_text">
                        <ResourceViewer ResourceTag="Custom.Project.Version" RowidCulture=@RowidCulture /> -
                        <ResourceViewer ResourceTag="Custom.Project.Copy" RowidCulture=@RowidCulture />
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="infoModal" tabindex="-1" role="dialog" aria-labelledby="infoModalLabel"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content info_card_modal">
                <div class="modal-body">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span class="text-white" aria-hidden="true">&times;</span>
                    </button>
                    <h2 class="mb-2 pr-3"><ResourceViewer ResourceTag="BLLogin.Demo.NewsTitle" RowidCulture=@RowidCulture /></h2>
                    <p class="mb-2"><ResourceViewer ResourceTag="BLLogin.Demo.NewsBody" RowidCulture=@RowidCulture /></p>
                    <div class="d-flex justify-content-between">
                        <SDKButton CssClass="btn btn-primary btn_ghost_def_1 btn-sm px-4" ResourceTag="BLLogin.MoreInfo"/>
                        <div>
                            <button class="btn btn-primary btn_ghost_def_1 btn-sm"><i
                                    class="fa-solid fa-chevron-left"></i></button>
                            <button class="btn btn-primary btn_ghost_def_1 btn-sm ml-2"><i
                                    class="fa-solid fa-chevron-right"></i></button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="modal fade" id="LangModal" tabindex="-1" role="dialog" aria-labelledby="infoModalLabel"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-body">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span class="text-white" aria-hidden="true">&times;</span>
                    </button>

                </div>
            </div>
        </div>
    </div>

    @* <div class="login_loading @GetCssLoding()">
        <div>
            <div class="text-center fa-4x font_color_primary_light mb-4">
                <i class="fas fa-spinner fa-pulse"></i>
            </div>
            <div class="text-center">
                <img src="@LogoUrl" height="82px" />
            </div>
        </div>
    </div> *@
        
</div>