@using Siesa.SDK.Shared.Services
@using Siesa.SDK.Frontend.Components.FormManager.Views
@using Siesa.SDK.Frontend.Components.Fields
@using Siesa.SDK.Frontend.Components.Visualization
@using Siesa.SDK.Entities
@inject SDKNotificationService NotificationService

<div class="container-fluid">
    <div class="row p-3">
        <div class="col-12"><h2>DynamicCreateView</h2></div>
        <div class="col-12"><p>Demonstration and configuration of the DynamicCreateView component</p></div> 
    </div>
    <div class="row px-3 mt-3"> 
        <div class="col-md-6 p-3 ">
            <SDKCard>
                <div class="p-4">
                <TopBar/>
                </div>
                <DynamicCreateView BusinessName="BLCulture"/>
            </SDKCard>
        </div>
        <div class="col-md-6 p-3 ">
            <SDKCard>
                <div class="d-flex justify-content-around">
                    <SDKBooleanField @bind-Value="@Title"> ShowTitle</SDKBooleanField>
                    <SDKBooleanField @bind-Value="@Buttons"> ShowTButtons</SDKBooleanField>
                    <SDKBooleanField @bind-Value="@ShowSaveButton"> ShowSaveButton</SDKBooleanField>
                    <SDKBooleanField @bind-Value="@ShowCancelButton"> ShowCancelButton</SDKBooleanField>
                </div>
                @if (!Title)
                {
                <h3>BLCulture with Default Fields - Subpanel</h3>
                }
                <DynamicCreateView BusinessName="BLCulture" DefaultFields="@DefaultField" IsSubpanel="true" 
                                    ShowTitle="@Title" ShowButtons="@Buttons" ShowSaveButton="@ShowSaveButton" ShowCancelButton="@ShowCancelButton"/>
            </SDKCard>
        </div>
        <div class="col-md-6 p-3 ">
            <SDKCard>
                <h3>BLCulture Action Save</h3>
                <DynamicCreateView BusinessName="BLCulture" IsSubpanel="true"  OnSave="@(async (object id) => {await ActionSave(id);})"
                                        OnCancel="@(async ()=> { await ActionCancel(); })"/>
            </SDKCard>
        </div>
    </div>
</div>

@code{

    bool Title = true;
    bool Buttons = true;
    bool ShowSaveButton = true;
    bool ShowCancelButton = true;


    private Dictionary<string, object> DefaultField = new Dictionary<string, object>()
    {
        {"BaseObj.Description","Español"},
        {"BaseObj.LanguageCode","es-ES"},
    };

    
    public async Task ActionCancel()
    {
        NotificationService.ShowInfo("Open Action Cancel");
    }

    public async Task ActionSave(object id)
    {
        NotificationService.ShowInfo("Open Action Save");
    }


}