@using Siesa.SDK.Shared.Services
@using Siesa.SDK.Frontend.Components.FormManager.Views
@using Siesa.SDK.Frontend.Components.Fields
@using Siesa.SDK.Frontend.Components.Visualization
@using Siesa.SDK.Entities
@inject SDKNotificationService NotificationService
@inject IAuthenticationService AuthenticationService
@inject IBackendRouterService BackendRouterService

<div class="container-fluid">
    <div class="container-fluid">
            <h2>DynamicListView</h2> 
            <p>Demonstration and configuration of the DynamicListView component</p> 
    </div>
    <div class="row px-3"> 
        <div class="col-md-6 p-3">
            <SDKCard>
                <h3>BLCulture</h3>
                <DynamicListView BusinessName="BLCulture" AllowEdit="false" AllowDetail="false"/>
            </SDKCard>
        </div>
        <div class="col-md-6 p-3">
            <SDKCard>
                <h3>BLCulture - Filter - IsSubpanel - Allow Actions</h3>
                <div class="d-flex justify-content-around">
                    <SDKBooleanField @bind-Value="@AllowCreate"> AllowCreate</SDKBooleanField>
                    <SDKBooleanField @bind-Value="@AllowDelete"> AllowDelete</SDKBooleanField>
                    <SDKBooleanField @bind-Value="@AllowEdit"> AllowEdit</SDKBooleanField>
                    <SDKBooleanField @bind-Value="@AllowDetail"> AllowDetail</SDKBooleanField>
                </div>
                <DynamicListView BusinessName="BLCulture" SubpanelFilter=@filter IsSubpanel="true" 
                    AllowCreate="@AllowCreate" AllowDelete="@AllowDelete" AllowEdit="@AllowEdit" 
                    AllowDetail="@AllowDetail"/>
            </SDKCard>
        </div>
        <div class="col-md-6 p-3">
            <SDKCard>
                <h3>BLCulture Data</h3>
                <DynamicListView BusinessName="BLCulture" Data="@Data" AllowEdit="false" AllowDetail="false" />
            </SDKCard>
        </div>
        <div class="col-md-6 p-3">
            <SDKCard>
                <h3>BLCulture Actions Methods</h3>
                <DynamicListView BusinessName="BLCulture" IsSubpanel="true" AllowEdit="true" AllowDetail="true"
                                                                AllowCreate="true" AllowDelete="true"
                        OnClickEdit="@(async (string item_rowid)=> { await ActionEdit(item_rowid); })"
                        OnClickDetail="@(async (string item_rowid)=> { await ActionDetail(item_rowid); })"
                        OnClickDelete="@(async (string item_rowid, string object_string)=> { await ActionDelete(item_rowid, object_string); })" 
                        OnClickNew="@(async ()=> { await ActionCreate(); })" />                                 
            </SDKCard>
        </div>
    </div>
</div>

@code{
    string filter = @"Description == ""Español""";
    bool AllowCreate = true;
    bool AllowDelete = true;
    bool AllowEdit = true;
    bool AllowDetail = true;

    private List<E00021_Culture> Data = new List<E00021_Culture>()
    {
        new E00021_Culture(){Rowid = 1, LanguageCode = "Path-1", CountryCode = "Country-1"},
        new E00021_Culture(){Rowid = 1, LanguageCode = "Path-2", CountryCode = "Country-2"},
        new E00021_Culture(){Rowid = 1, LanguageCode = "Path-3", CountryCode = "Country-3"},
        new E00021_Culture(){Rowid = 1, LanguageCode = "Path-4", CountryCode = "Country-4"}
    };

    public async Task ActionEdit(string item_rowid)
    {
        NotificationService.ShowInfo($"Open Action Edit the item {item_rowid}");
    }
    public async Task ActionDetail(string item_rowid)
    {
        NotificationService.ShowInfo($"Open Action Detail the item {item_rowid}");
    }
    public async Task ActionCreate()
    {
        NotificationService.ShowInfo("Open Action Create");
    }
    public async Task ActionDelete(string item_rowid, string object_string)
    {
        NotificationService.ShowInfo($"Open Action Delete the item {item_rowid}");
    }
}