@using Siesa.SDK.Frontend.Components.Visualization
@using Siesa.SDK.Components.Visualization
@using Siesa.SDK.Frontend.Components.Fields
@using Siesa.SDK.Frontend.Application
@using Siesa.SDK.Shared.Services
@using Siesa.SDK.Frontend.Services
@inject SDKNotificationService NotificationService

@layout EmptyLayout

<div class="container-fluid">
    <div class="container-fluid">
            <h2>SDKFormLayout</h2> 
            <p>Demonstration and configuration of the SDKFormLayout component</p> 
    </div>
    <div class="row px-3"> 
        <div class="col-md-6 p-3">
                <SDKCard>
                        <h3>SDKFormLayout-SDKFormLayoutItem</h3>
                <RadzenSlider Min="1" Max="12" Value=@WidthValue TValue="int" Style="width: 100px" Change="@Onchange"/>
                <SDKFormLayout>
                        <SDKFormLayoutItem ResourceTag="Name:" ColSizeMd="@WidthValue">
                                <SDKCharField @bind-Value="@Name"/>
                        </SDKFormLayoutItem>
                        <SDKFormLayoutItem ResourceTag="Email:" ColSizeLg="@WidthValue">
                                <SDKCharField @bind-Value="@Email"/>
                        </SDKFormLayoutItem>
                        <SDKFormLayoutItem ResourceTag="Age:" ColSizeXl="@WidthValue">
                                <SDKIntegerField @bind-Value="@Age"/>
                        </SDKFormLayoutItem>
                        <SDKFormLayoutItem ResourceTag="Date:" ColSizeSm="@WidthValue"> 
                                <SDKDateField @bind-Value="@DateTimeValue"/>
                        </SDKFormLayoutItem>
                        <SDKFormLayoutItem ResourceTag="Selected:" ColSizeXs="@WidthValue">
                                <SDKBooleanField @bind-Value="@Selectd"/>
                        </SDKFormLayoutItem>
                </SDKFormLayout>
                </SDKCard>
        </div>
        <div class="col-md-6 p-2">
                <SDKCard>
                        <h3>SDKFormLayoutTabPage</h3>
                <SDKFormLayout>
                        <SDKFormLayoutTabPages>
                                <SDKFormLayoutTabPage ResourceTag="Personal Information">
                                        <SDKFormLayoutItem ResourceTag="First Name:" ColSizeMd="6">
                                                <SDKCharField @bind-Value="@Name" />
                                        </SDKFormLayoutItem>
                                        <SDKFormLayoutItem ResourceTag="Last Name:" ColSizeMd="6">
                                                <SDKCharField @bind-Value="@LastName" />
                                        </SDKFormLayoutItem>
                                        <SDKFormLayoutItem ResourceTag="Birth Date:" ColSizeMd="6">
                                                <SDKDateField @bind-Value="@DateTimeValue" />
                                        </SDKFormLayoutItem>
                                </SDKFormLayoutTabPage>
                                <SDKFormLayoutTabPage ResourceTag="Work Information">
                                        <SDKFormLayoutItem ResourceTag="Position:" ColSizeMd="6">
                                                <SDKCharField @bind-Value="@Position" />
                                        </SDKFormLayoutItem>
                                        <SDKFormLayoutItem ResourceTag="Hire Date:" ColSizeMd="6">
                                                <SDKDateField @bind-Value="@DateTimeValue" />
                                        </SDKFormLayoutItem>
                                        <SDKFormLayoutItem ResourceTag="Notes:" ColSizeMd="6">
                                                <SDKCharField @bind-Value="@Notes" />
                                        </SDKFormLayoutItem>
                                </SDKFormLayoutTabPage>
                        </SDKFormLayoutTabPages>
                </SDKFormLayout>
                </SDKCard>
        </div>
        <div class="col-md-6 p-3">
                <SDKCard>
                        <h3>SDKFormLayout-SDKFormLayoutItem Group</h3>
                <SDKFormLayout>
                        <SDKFormLayoutItem ResourceTag="Name" ColSizeXs="6" IsGroup="true" GroupMinHeight="300" GroupRightBorder="true">
                                <SDKFormLayout>
                                <SDKFormLayoutItem ResourceTag="Name:" ColSizeMd="3">
                                        <SDKCharField @bind-Value="@Name"/>
                                </SDKFormLayoutItem>
                                <SDKFormLayoutItem ResourceTag="Email:" ColSizeLg="3">
                                        <SDKCharField @bind-Value="@Email"/>
                                </SDKFormLayoutItem>
                                <SDKFormLayoutItem ResourceTag="Age:" ColSizeXl="3">
                                        <SDKIntegerField @bind-Value="@Age"/>
                                </SDKFormLayoutItem>
                                <SDKFormLayoutItem ResourceTag="Date:" ColSizeSm="3"> 
                                        <SDKDateField @bind-Value="@DateTimeValue"/>
                                </SDKFormLayoutItem>
                                <SDKFormLayoutItem ResourceTag="Selected:" ColSizeXs="3">
                                        <SDKBooleanField @bind-Value="@Selectd"/>
                                </SDKFormLayoutItem>
                                </SDKFormLayout>
                        </SDKFormLayoutItem>
                        <SDKFormLayoutItem ResourceTag="Email:" ColSizeXs="6" IsGroup="true" GroupMinHeight="300">
                                <SDKFormLayout>
                                <SDKFormLayoutItem ResourceTag="Name:" ColSizeMd="3">
                                        <SDKCharField @bind-Value="@Name"/>
                                </SDKFormLayoutItem>
                                <SDKFormLayoutItem ResourceTag="Email:" ColSizeLg="3">
                                        <SDKCharField @bind-Value="@Email"/>
                                </SDKFormLayoutItem>
                                <SDKFormLayoutItem ResourceTag="Age:" ColSizeXl="3">
                                        <SDKIntegerField @bind-Value="@Age"/>
                                </SDKFormLayoutItem>
                                <SDKFormLayoutItem ResourceTag="Date:" ColSizeSm="3"> 
                                        <SDKDateField @bind-Value="@DateTimeValue"/>
                                </SDKFormLayoutItem>
                                <SDKFormLayoutItem ResourceTag="Selected:" ColSizeXs="3">
                                        <SDKBooleanField @bind-Value="@Selectd"/>
                                </SDKFormLayoutItem>
                                </SDKFormLayout>
                        </SDKFormLayoutItem>
                        </SDKFormLayout>
                </SDKCard>
        </div>
    </div>
</div>


@code
{
    string Name {get; set;} = "Name";
    string Email {get; set;} = "HolaMundo@gamil.com";
    int Age {get; set;} = 26;
    bool Selectd {get; set;} = true;
    string LastName { get; set; } = "LastName";
    string Position { get; set; } = "Sales Representative";
    string Notes { get; set; } = "Education includes a BA in psychology.";
    DateTime DateTimeValue { get; set; } = DateTime.Now;
    public int WidthValue { get; set; } = 12;
    void Onchange(int value)
    {
        WidthValue = value;
    }
}