@inherits FieldClass<DateTime>

<p style="word-wrap: break-word">@BindValue</p>
@* 
<DxDateEdit @bind-Date="@BindValue" 
            @attributes="FieldOpt.CustomAttributes"
            PickerDisplayMode="DatePickerDisplayMode.Auto" NullText="@FieldOpt.Placeholder"
            CssClass="@FieldOpt.CssClass" ClearButtonDisplayMode="DataEditorClearButtonDisplayMode.Auto"
            ReadOnly="true" Id="@FieldOpt.Id"></DxDateEdit> *@


