
@switch (FieldType)
{
    case "CharField":
        @if (FieldOpt.ViewContext != null && FieldOpt.ViewContext == "DetailView")
        {
            <CharFieldDetail BindModel="@fieldModelObj" FieldOpt="@FieldOpt" FieldName="@fieldName" />    
        }
        else
        {
            <CharField BindModel="@fieldModelObj" FieldOpt="@FieldOpt" FieldName="@fieldName"  EscucharA="@FieldOpt.EscucharA" />
        }
        break;
    case "DecimalField":
        <DecimalField BindModel="@fieldModelObj" FieldOpt="@FieldOpt" FieldName="@fieldName" EscucharA="@FieldOpt.EscucharA" />
        break;
    case "IntegerField":
        @if (FieldOpt.ViewContext != null && FieldOpt.ViewContext == "DetailView")
        {

            <IntegerFieldDetail BindModel="@fieldModelObj" FieldName="@fieldName"  FieldOpt="@FieldOpt" />
        }
        else
        {
            <IntegerField BindModel="@fieldModelObj" FieldOpt="@FieldOpt" FieldName="@fieldName"  EscucharA="@FieldOpt.EscucharA" />
        }
        break;
    case "MultiSelectField":
        <MultiSelectField BindModel="@fieldModelObj" FieldOpt="@FieldOpt" FieldName="@fieldName"  EscucharA="@FieldOpt.EscucharA" />
        break;
    case "SelectField":
        <SelectField BindModel="@fieldModelObj" FieldOpt="@FieldOpt" FieldName="@fieldName"  EscucharA="@FieldOpt.EscucharA" />
        break;
    case "DateField":
    case "DateTimeField":
        @if (FieldOpt.ViewContext != null && FieldOpt.ViewContext == "DetailView")
        {
            <DateFieldDetail BindModel="@fieldModelObj" FieldName="@fieldName" FieldOpt="@FieldOpt" />
        }
        else
        {
            <DateField BindModel="@fieldModelObj" FieldOpt="@FieldOpt" FieldName="@fieldName"  EscucharA="@FieldOpt.EscucharA" />
        }
        break;
    case "TextField":
        <TextField BindModel="@fieldModelObj" FieldOpt="@FieldOpt" FieldName="@fieldName"  EscucharA="@FieldOpt.EscucharA" />
        break;
    case "BooleanField":
    @if (FieldOpt.ViewContext != null && FieldOpt.ViewContext == "DetailView")
        {
            <BooleanFieldDetail BindModel="@fieldModelObj" FieldName="@fieldName"  FieldOpt="@FieldOpt" />
        }else{
            <BooleanField BindModel="@fieldModelObj" FieldName="@fieldName"  FieldOpt="@FieldOpt" EscucharA="@FieldOpt.EscucharA" />

        }
        break;
    default:
        <span>@FieldOpt.FieldType No implementado</span>
        break;
}
