
@using Siesa.SDK.Frontend.Components.Fields
@switch (FieldType)
{
    case FieldTypes.CharField:
        @if (FieldOpt.ViewContext != null && FieldOpt.ViewContext == "DetailView")
        {
            if(IsNullable)
            {
                <GenericFieldDetail TValue="string?" BindModel="@fieldModelObj" FieldName="@fieldName" FieldOpt="@FieldOpt" />
            }else{
                <GenericFieldDetail TValue="string" BindModel="@fieldModelObj" FieldName="@fieldName" FieldOpt="@FieldOpt" />
            }
        }
        else
        {
            <CharField BindModel="@fieldModelObj" FieldOpt="@FieldOpt" FieldName="@fieldName"  />
        }
        break;
    case FieldTypes.DecimalField:
        
        @if (FieldOpt.ViewContext != null && FieldOpt.ViewContext == "DetailView")
        {

            if(IsNullable)
            {
                <GenericFieldDetail TValue="decimal?" BindModel="@fieldModelObj" FieldName="@fieldName" FieldOpt="@FieldOpt" />
            }else{
                <GenericFieldDetail TValue="decimal" BindModel="@fieldModelObj" FieldName="@fieldName" FieldOpt="@FieldOpt" />
            }
        }
        else
        {
            if(IsNullable){
                <NumericField BindModel="@fieldModelObj" FieldOpt="@FieldOpt" FieldName="@fieldName" TNum="decimal?"  />
            }else{
                <NumericField BindModel="@fieldModelObj" FieldOpt="@FieldOpt" FieldName="@fieldName" TNum="decimal" />
            }
        }
        break;
    case FieldTypes.BigIntegerField:
        @if (FieldOpt.ViewContext != null && FieldOpt.ViewContext == "DetailView")
        {
            if(IsNullable)
            {
                <GenericFieldDetail TValue="Int64?" BindModel="@fieldModelObj" FieldName="@fieldName" FieldOpt="@FieldOpt" />
            }else{
                <GenericFieldDetail TValue="Int64" BindModel="@fieldModelObj" FieldName="@fieldName" FieldOpt="@FieldOpt" />
            }
        }
        else
        {
            if(IsNullable){
                <NumericField BindModel="@fieldModelObj" FieldOpt="@FieldOpt" FieldName="@fieldName" TNum="Int64?"  />
            }else{
                <NumericField BindModel="@fieldModelObj" FieldOpt="@FieldOpt" FieldName="@fieldName" TNum="Int64" />
            }
            
        }
        break;
    case FieldTypes.IntegerField:
        @if (FieldOpt.ViewContext != null && FieldOpt.ViewContext == "DetailView")
        {
            if(IsNullable)
            {
                <GenericFieldDetail TValue="int?" BindModel="@fieldModelObj" FieldName="@fieldName" FieldOpt="@FieldOpt" />
            }else{
                <GenericFieldDetail TValue="int" BindModel="@fieldModelObj" FieldName="@fieldName" FieldOpt="@FieldOpt" />
            }
        }
        else
        {
            if(IsNullable){
                <NumericField BindModel="@fieldModelObj" FieldOpt="@FieldOpt" FieldName="@fieldName" TNum="int?"  />
            }else{
                <NumericField BindModel="@fieldModelObj" FieldOpt="@FieldOpt" FieldName="@fieldName" TNum="int" />
            }
            
        }
        break;
    case FieldTypes.SmallIntegerField:
        @if (FieldOpt.ViewContext != null && FieldOpt.ViewContext == "DetailView")
        {

            if(IsNullable)
            {
                <GenericFieldDetail TValue="Int16?" BindModel="@fieldModelObj" FieldName="@fieldName" FieldOpt="@FieldOpt" />
            }else{
                <GenericFieldDetail TValue="Int16" BindModel="@fieldModelObj" FieldName="@fieldName" FieldOpt="@FieldOpt" />
            }
        }
        else
        {
            if(IsNullable){
                <NumericField BindModel="@fieldModelObj" FieldOpt="@FieldOpt" FieldName="@fieldName" TNum="Int16?"  />
            }else{
                <NumericField BindModel="@fieldModelObj" FieldOpt="@FieldOpt" FieldName="@fieldName" TNum="Int16" />
            }
        }
        break;        
    case FieldTypes.ByteField:
        @if (FieldOpt.ViewContext != null && FieldOpt.ViewContext == "DetailView")
        {

            if(IsNullable)
            {
                <GenericFieldDetail TValue="byte?" BindModel="@fieldModelObj" FieldName="@fieldName" FieldOpt="@FieldOpt" />
            }else{
                <GenericFieldDetail TValue="byte" BindModel="@fieldModelObj" FieldName="@fieldName" FieldOpt="@FieldOpt" />
            }
        }
        else
        {
            if(IsNullable)
            {
                <ByteField BindModel="@fieldModelObj" FieldOpt="@FieldOpt" FieldName="@fieldName" TByte="byte?" />
            }else{
                <ByteField BindModel="@fieldModelObj" FieldOpt="@FieldOpt" FieldName="@fieldName" TByte="byte"  />
            }
        }
        break;
    case FieldTypes.MultiSelectField:
        <MultiSelectField BindModel="@fieldModelObj" FieldOpt="@FieldOpt" FieldName="@fieldName"  />
        break;
    case FieldTypes.SelectField:
        @if (FieldOpt.ViewContext != null && FieldOpt.ViewContext == "DetailView")
        {
            <DynamicComponent Type="@SelectFieldDetailType" Parameters="@parameters" />
        }
        else
        {
            <DynamicComponent Type="@SelectFieldType" Parameters="@parameters" />
        }
        break;
    case FieldTypes.DateField:
        @if (FieldOpt.ViewContext != null && FieldOpt.ViewContext == "DetailView")
        {
            if(IsNullable){
                <DateFieldDetail BindModel="@fieldModelObj" FieldOpt="@FieldOpt" FieldName="@fieldName" TDate="DateOnly?" />
            }else{
                <DateFieldDetail BindModel="@fieldModelObj" FieldOpt="@FieldOpt" FieldName="@fieldName" TDate="DateOnly" />
            }
            
        }
        else
        {
            if(IsNullable){
                <DateField BindModel="@fieldModelObj" FieldOpt="@FieldOpt" FieldName="@fieldName" ShowTime="false" TDate="DateOnly?" />
            }else{
                <DateField BindModel="@fieldModelObj" FieldOpt="@FieldOpt" FieldName="@fieldName" ShowTime="false" TDate="DateOnly" />
            }
            
        }
        break;
    case FieldTypes.TimeField:
        @if (FieldOpt.ViewContext != null && FieldOpt.ViewContext == "DetailView")
        {
            if(IsNullable)
            {
                <GenericFieldDetail TValue="TimeSpan?" BindModel="@fieldModelObj" FieldName="@fieldName" FieldOpt="@FieldOpt" />
            }else{
                <GenericFieldDetail TValue="TimeSpan" BindModel="@fieldModelObj" FieldName="@fieldName" FieldOpt="@FieldOpt" />
            }
        }
        else
        {
            if(IsNullable){
                <TimeField BindModel="@fieldModelObj" FieldOpt="@FieldOpt" FieldName="@fieldName" TTime="TimeSpan?" />
            }else{
                <TimeField BindModel="@fieldModelObj" FieldOpt="@FieldOpt" FieldName="@fieldName" TTime="TimeSpan"/>
            }
        }
        break;
    case FieldTypes.DateTimeField:
        @if (FieldOpt.ViewContext != null && FieldOpt.ViewContext == "DetailView")
        {
            if(IsNullable)
            {
                <GenericFieldDetail TValue="DateTime?" BindModel="@fieldModelObj" FieldName="@fieldName" FieldOpt="@FieldOpt" />
            }else{
                <GenericFieldDetail TValue="DateTime" BindModel="@fieldModelObj" FieldName="@fieldName" FieldOpt="@FieldOpt" />
            }
        }
        else
        {
            if(IsNullable){
                <DateTimeField BindModel="@fieldModelObj" FieldOpt="@FieldOpt" FieldName="@fieldName" TDate="DateTime?" ShowTime="true"  />
            }else{
                <DateTimeField BindModel="@fieldModelObj" FieldOpt="@FieldOpt" FieldName="@fieldName" TDate="DateTime" ShowTime="true"  />
            }
            
        }
        break;
    case FieldTypes.TextField:
        <TextField BindModel="@fieldModelObj" FieldOpt="@FieldOpt" FieldName="@fieldName"  />
        break;
    case FieldTypes.BooleanField:
        @if (FieldOpt.ViewContext != null && FieldOpt.ViewContext == "DetailView")
        {
            <BooleanFieldDetail BindModel="@fieldModelObj" FieldName="@fieldName" FieldOpt="@FieldOpt" />
        }
        else
        {
            if(IsNullable){
                <BooleanField BindModel="@fieldModelObj" FieldName="@fieldName" FieldOpt="@FieldOpt" TBool="bool?"  />
            }else{
                <BooleanField BindModel="@fieldModelObj" FieldName="@fieldName" FieldOpt="@FieldOpt" TBool="bool"  />
            }
            

        }
        break;
    case FieldTypes.Unknown:
        <span>@UnknownFieldType No implementado</span>
        break;
    case FieldTypes.EntityField:
        @if (FieldOpt.ViewContext != null && FieldOpt.ViewContext == "DetailView")
        {
            <EntityFieldDetail BindModel="@fieldModelObj" FieldOpt="@FieldOpt" FieldName="@fieldName" />
        }
        else
        {
            <EntityField BaseModelObj="@ModelObj" BindModel="@fieldModelObj" FieldOpt="@FieldOpt" FieldName="@fieldName"  />
        }
        break;
    case FieldTypes.Custom:
        <CustomField BaseModelObj="@ModelObj" BindModel="@fieldModelObj" FieldOpt="@FieldOpt" FieldName="@fieldName"  Definition="@FieldOpt.CustomComponent"/>
        break;
    default:
        <span>@FieldType No implementado</span>
        break;
}
