
@switch (FieldType)
{
    case FieldTypes.CharField:
        @if (FieldOpt.ViewContext != null && FieldOpt.ViewContext == "DetailView")
        {
            <CharFieldDetail BindModel="@fieldModelObj" FieldOpt="@FieldOpt" FieldName="@fieldName" />

        }
        else
        {
            <CharField BindModel="@fieldModelObj" FieldOpt="@FieldOpt" FieldName="@fieldName" EscucharA="@FieldOpt.EscucharA" />
        }
        break;
    case FieldTypes.DecimalField:
        <DecimalField BindModel="@fieldModelObj" FieldOpt="@FieldOpt" FieldName="@fieldName" EscucharA="@FieldOpt.EscucharA" />
        break;
    case FieldTypes.IntegerField:
        @if (FieldOpt.ViewContext != null && FieldOpt.ViewContext == "DetailView")
        {

            <IntegerFieldDetail BindModel="@fieldModelObj" FieldName="@fieldName" FieldOpt="@FieldOpt" />
        }
        else
        {
            <IntegerField BindModel="@fieldModelObj" FieldOpt="@FieldOpt" FieldName="@fieldName" EscucharA="@FieldOpt.EscucharA" />
        }
        break;
    case FieldTypes.MultiSelectField:
        <MultiSelectField BindModel="@fieldModelObj" FieldOpt="@FieldOpt" FieldName="@fieldName" EscucharA="@FieldOpt.EscucharA" />
        break;
    case FieldTypes.SelectField:
        <SelectField BindModel="@fieldModelObj" FieldOpt="@FieldOpt" FieldName="@fieldName" EscucharA="@FieldOpt.EscucharA" />
        break;
    case FieldTypes.DateField:
    case FieldTypes.DateTimeField:
        @if (FieldOpt.ViewContext != null && FieldOpt.ViewContext == "DetailView")
        {
            <DateFieldDetail BindModel="@fieldModelObj" FieldName="@fieldName" FieldOpt="@FieldOpt" />
        }
        else
        {
            <DateField BindModel="@fieldModelObj" FieldOpt="@FieldOpt" FieldName="@fieldName" EscucharA="@FieldOpt.EscucharA" />
        }
        break;
    case FieldTypes.TextField:
        <TextField BindModel="@fieldModelObj" FieldOpt="@FieldOpt" FieldName="@fieldName" EscucharA="@FieldOpt.EscucharA" />
        break;
    case FieldTypes.BooleanField:
        @if (FieldOpt.ViewContext != null && FieldOpt.ViewContext == "DetailView")
        {
            <BooleanFieldDetail BindModel="@fieldModelObj" FieldName="@fieldName" FieldOpt="@FieldOpt" />
        }
        else
        {
            <BooleanField BindModel="@fieldModelObj" FieldName="@fieldName" FieldOpt="@FieldOpt" EscucharA="@FieldOpt.EscucharA" />

        }
        break;
    case FieldTypes.Unknown:
        <span>@UnknownFieldType No implementado</span>
        break;
    case FieldTypes.EntityField:
        @if (FieldOpt.ViewContext != null && FieldOpt.ViewContext == "DetailView")
        {
            <EntityFieldDetail BindModel="@fieldModelObj" FieldOpt="@FieldOpt" FieldName="@fieldName" />
        }
        else
        {
            @if(fieldModelObj.GetType().Name == "E00102_User") @*TODO: Eliminar cuando se tenga el generico*@
            {
                <EntityFieldMock BindModel="@fieldModelObj" FieldOpt="@FieldOpt" FieldName="@fieldName" EscucharA="@FieldOpt.EscucharA" />
            }
            
            @*<EntityField BindModel="@fieldModelObj" FieldOpt="@FieldOpt" FieldName="@fieldName" EscucharA="@FieldOpt.EscucharA" />*@
        }
        break;
    case FieldTypes.Custom:
        <CustomField BaseModelObj="@ModelObj" BindModel="@fieldModelObj" FieldOpt="@FieldOpt" FieldName="@fieldName"  Definition="@FieldOpt.CustomComponent"/>
        break;
    default:
        <span>@FieldType No implementado</span>
        break;
}
