@using Siesa.SDK.Frontend.Components.Fields

@if(SubViewdef != null && SubViewdef.Panels != null && SubViewdef.Panels.Count > 0){
    ModelObj.AddRelFieldToSave(SubViewdef.ParentField.Replace("BaseObj.",""));
     @if (SubViewdef.Panels.Count > 1)
    {
        <DxFormLayoutTabPages>
            @foreach (var panel in SubViewdef.Panels)
            {
                <SDKFormLayoutTabPage ResourceTag="@panel.ResourceTag">
                    <FieldsContainer Fields="@panel.Fields" SubViewdef="@panel.SubViewdef" ModelObj="@ModelObj" DefaultColSize="@panel.ColSize" />
                </SDKFormLayoutTabPage>
            }
        </DxFormLayoutTabPages>

    }
    else
    {
        <FieldsContainer Fields="@SubViewdef.Panels[0].Fields" SubViewdef="@SubViewdef.Panels[0].SubViewdef" ModelObj="@ModelObj" DefaultColSize="@SubViewdef.Panels[0].ColSize" />
    }
}else{

    @foreach(FieldOptions fld in Fields)
    {
        @if(!fld.Hidden){
            <SDKFormLayoutItem ResourceTag="@fld.ResourceTag"
                            ColSizeMd="@GetColSize(fld,"MD")"
                            ColSizeLg="@GetColSize(fld,"LG")"
                            ColSizeXl="@GetColSize(fld,"XL")"
                            ColSizeSm="@GetColSize(fld,"SM")"
                            ColSizeXs="@GetColSize(fld,"XS")">
                @if(fld.ViewContext == "DetailView"){
                    <div class="field-detail-container">
                        <DynamicField FieldOpt="@fld" ModelObj="@ModelObj" />
                    </div>
                }else{
                    <DynamicField FieldOpt="@fld" ModelObj="@ModelObj" />
                }
                
            </SDKFormLayoutItem>
        }
        
    }
}



@code {
    [Parameter] public List<FieldOptions> Fields { get; set; }
    [Parameter] public SubViewdef SubViewdef { get; set; }

    [Parameter] public dynamic ModelObj { get; set; }
    [Parameter] public Dictionary<string, int> DefaultColSize { get; set; }

    private int GetColSize(FieldOptions fld, string screen_size)
    {
        var colsize = DefaultColSize.ContainsKey(screen_size) ? DefaultColSize[screen_size] : 0;

        if (fld.ColSize.ContainsKey(screen_size))
        {
            colsize = fld.ColSize[screen_size];
        }

        return colsize;

    }
}
