@using Siesa.SDK.Frontend.Components.Fields
@using System.Linq.Expressions
@using SDK.Frontend.Application
@using System.Collections.Generic
@using System.Linq
@typeparam TItem
@inherits FieldClass<TItem>
@using Siesa.SDK.Shared.Services
@inject IAuthenticationService AuthenticationService
@inject IBackendRouterService BackendRouterService
@inject IResourceManager ResourceManager

@if (!FieldOpt.Hidden)
{
    @if (FieldOpt.ViewContext == "DetailView")
    {
        <p style="word-wrap: break-word">@if (BindValue != null)
            {
                <ResourceViewer ResourceTag="@_value" />
            }
        </p>
    }
    else
    {
        <SDKSelectBar ItemType="TItem"
        Value="@BindValue"
        ValueChanged="@((newVal) => SetValue(newVal))"
        Data="@_options"
        Disabled="@_disabled"
        ValueExpression="@ValueExpression"
        FieldName="@FieldName" />

        @FieldValidationTemplate
    }
}

@code {

    private bool _disabled;
    [Parameter] public IEnumerable<SelectBarItemWrap<TItem>> Options { get; set; }       
    Expression<Func<TItem>> ValueExpression { get; set; }
    private Type enumType { get; set; }
    private IEnumerable<SelectBarItemWrap<TItem>> _options
    {
        get
        {
            if (Options == null)
            {
                enumType = typeof(TItem);
                if (typeof(TItem).IsGenericType && typeof(TItem).GetGenericTypeDefinition() == typeof(Nullable<>))
                {
                    enumType = typeof(TItem).GetGenericArguments()[0];
                }
                GetEnumValues();
                /*Options = Enum.GetValues(enumType).OfType<TItem>().Select(x => new SelectBarItemWrap<TItem>
                {
                Key = x,
                Name = $"Enum.{enumType.Name}.{x.ToString()}"
                });*/

            }
            return Options;
        }
    }
    private async Task GetEnumValues()
    {
        var resourceBL = BackendRouterService.GetSDKBusinessModel("BLResource", AuthenticationService);
        var request = await resourceBL.Call("GetEnumValues", enumType.Name,
        Convert.ToInt64(AuthenticationService.GetRoiwdCulture()));
        if (request.Success)
        {
            var enumValues = (Dictionary<byte, string>)request.Data;
            if (enumValues == null || enumValues.Count == 0)
            {
                return;
            }

            Options = Enumerable.Empty<SelectBarItemWrap<TItem>>();
            
            if (ViewdefName == "search")
            {
                var SelectAllName = await ResourceManager.GetResource("Custom.Enum.SelectAll", AuthenticationService);
                Options = Options.Append(new SelectBarItemWrap<TItem>
                {
                    Key = (TItem)Enum.Parse(enumType, (enumValues.Select(x => x.Key).Last() + 1).ToString()),
                    Name = SelectAllName
                });
                BindValue = Options.Select(x => x.Key).First();
            } 
            Options = Options.Concat(enumValues.Select(x => new SelectBarItemWrap<TItem>
            {
                Key = (TItem)Enum.Parse(enumType, x.Key.ToString()),
                Name = x.Value
            }));

            
            StateHasChanged();
        }
    }

    string? _value
    {
        get
        {
            if (BindValue == null) return null;
            Type enumType = typeof(TItem);
            if (typeof(TItem).IsGenericType && typeof(TItem).GetGenericTypeDefinition() == typeof(Nullable<>))
            {
                enumType = typeof(TItem).GetGenericArguments()[0];
            }
            return $"Enum.{enumType.Name}.{BindValue}";
        }
    }

    private void isDisabled()
    {
        _disabled = (FieldOpt.Disabled || FieldOpt.ViewContext == "DetailView");
    }

    protected override void OnInitialized()
    {
        base.OnInitialized();
        var access = Expression.Property(Expression.Constant(BindModel, BindModel.GetType()), FieldName);
        ValueExpression = (Expression<Func<TItem>>)Expression.Lambda(typeof(Func<>).MakeGenericType(typeof(TItem)), access);
        isDisabled();

    }

    protected override void OnParametersSet()
    {
        base.OnParametersSet();
        isDisabled();
    }

}
