@using SDK.Components.Visualization
@using Siesa.SDK.Components.Visualization
@using Siesa.SDK.Frontend.Components.Fields
@using Siesa.SDK.Frontend.Components.FormManager.Fields
@using System;
@using Siesa.SDK.Entities;
@using Siesa.SDK.Frontend.Application
@using Siesa.SDK.Frontend.Components.Visualization
@using Siesa.SDK.Shared.Services
@using Siesa.SDK.Frontend.Components.Layout.Detail.Relationship
@using Siesa.SDK.Frontend.Components.Layout.AditionalField
@using Siesa.SDK.Frontend.Components.FormManager.ViewModels
@inject IResourceManager ResourceManager
@inject IAuthenticationService AuthenticationService
@inject SDKNotificationService Notification
@inject SDKDialogService SDKDialogService
@inject NavigationManager NavigationManager
@inject NavigationService NavigationService

@inherits Siesa.SDK.Frontend.Components.FormManager.ViewModels.FormView

@if (Loading == true)
{
    <ResourceViewer ResourceTag="Custom.Generic.Loading" />
}
else if ((Panels == null || Panels.Count <= 0) && !IsDocument)
{
    @* <ResourceViewer ResourceTag="Custom.Formview.NotDefinition" /> *@
    <ErrorsWindow EditFormContext="@EditFormContext" GeneralErrors="@ErrorList" VerifyContext="@ClickInSave"/>
} else if (BusinessObj.BaseObj != null)
{
    @if(IsSubpanel && ShowTitle){        
            <h5 class="d-flex justify-content-center"><ResourceViewer ResourceTag="Action.Create" /> <ResourceViewer 
            ResourceTag="@($"{BusinessName}.Singular")" /></h5>
        <hr />
    }
    @if(ContainAttachments){
        <RelationshipContainer Relationships="@FormViewModel.Relationships.Where(x=>x.Enabled).ToList()" 
            Parent="@BusinessObj.BaseObj" ContainAttachments="@ContainAttachments" BLNameParentAttatchment="@BusinessName"
            BusinessObj="@BusinessObj" isCreateView="true" ShowAditionalFields="@ShowAditionalFields"/>
    }else if(FormViewModel.Relationships != null && FormViewModel.Relationships.Count > 0)
    {
        <RelationshipContainer Relationships="@FormViewModel.Relationships.Where(x=>x.Enabled).ToList()" Parent="@BusinessObj.BaseObj" isCreateView="true" ShowAditionalFields="@ShowAditionalFields"/>
    }
    <CascadingValue Value="@this">
       <ErrorsWindow EditFormContext="@EditFormContext" GeneralErrors="@ErrorList" VerifyContext="@ClickInSave"/>
    <EditForm id="@FormID"
              OnValidSubmit="@HandleValidSubmit"
              OnInvalidSubmit="@HandleInvalidSubmit"
              EditContext="@EditFormContext">
        <ObjectGraphDataAnnotationsValidator />
        <SDKFormLayout CaptionPosition="SDKCaptionPosition.Vertical">
            <CascadingValue Value="@EditFormContext">
                @if(Panels?.Count > 0){
                    <SDKCrudHeader ResourceTag="@Panels[0].ResourceTag" IconClass="@Panels[0].IconClass" ViewType="DynamicViewType.Create">
                        <FieldsContainer Fields="@Panels[0].Fields" SubViewdef="@Panels[0].SubViewdef" DefaultColSize="@Panels[0].ColSize" ModelObj="@BusinessObj" />
                    </SDKCrudHeader>
                }
            </CascadingValue>
            @if (Panels?.Count > 1)
            {
                <DxFormLayoutTabPages ScrollMode="TabsScrollMode.Auto">
                    @foreach (var panel in Panels.Skip(1))
                    {
                        <SDKFormLayoutTabPage ResourceTag="@panel.ResourceTag">
                            <CascadingValue Value="@EditFormContext">
                                <FieldsContainer Fields="@panel.Fields" SubViewdef="@panel.SubViewdef" DefaultColSize="@panel.ColSize" ModelObj="@BusinessObj" />
                            </CascadingValue>
                        </SDKFormLayoutTabPage>
                    }
                </DxFormLayoutTabPages>
            }
            @if(PanelsCollapsable?.Count>0){
                <div class="w-100">
                    <SDKCollapse>
                        <Items>
                            @foreach (var panel in PanelsCollapsable)
                            {
                                <SDKCollapseItem Text="@panel.ResourceTag">
                                    <div class="row">
                                        <CascadingValue Value="@EditFormContext">
                                            <FieldsContainer Fields="@panel.Fields" SubViewdef="@panel.SubViewdef" DefaultColSize="@panel.ColSize" ModelObj="@BusinessObj" />
                                        </CascadingValue>
                                    </div>
                                        <div class="buttons-aditional-fiels mb-2">
                                            <SDKButton RenderStyle="SDKButtonRenderStyle.Danger" ResourceTag="Borrar" Click="@(()=>ConfirmDelete(panel.RowidGroupDynamicEntity))"/>
                                            <SDKButton RenderStyle="SDKButtonRenderStyle.Secondary" ResourceTag="Custom.Panel.AditionalFields.Button.EditFields" Click="@(()=>ClickInEdit(panel.RowidGroupDynamicEntity))"/>
                                            <SDKButton RenderStyle="SDKButtonRenderStyle.Primary" ResourceTag="Custom.Panel.AditionalFields.Button.AddFields" Click="@(()=>ClickInAdd(panel.RowidGroupDynamicEntity))"/>
                                        </div>
                                </SDKCollapseItem>
                            }
                        </Items>
                    </SDKCollapse>
                </div>
            }
        </SDKFormLayout>
        @if(IsDocument){
            <CascadingValue Value="@EditFormContext">
                <CascadingValue Value="this">
                    <SDKGridDocument BusinessObj="@BusinessObj" ButtonDelete="@ButtonDelete" ButtonCreate="@ButtonCreate" DetailConfig="@DetailConfig"/>
                </CascadingValue>
            </CascadingValue>
        }
    </EditForm>
    </CascadingValue>
    @if(IsSubpanel && ShowButtons){
        <div clidColumnass="buttons-container pt-3">
            @foreach (var btn in FormViewModel.Buttons)
            {
                <SDKButton RenderStyle="@btn.RenderStyle"  Click="@(()=> { OnClickCustomButton(@btn); })" ResourceTag="@btn.ResourceTag"  />
            }
            @if(ShowCancelButton){
                <SDKButton RenderStyle="SDKButtonRenderStyle.Cancel" Click="@((args) => {CancelButton();})" ResourceTag="Action.Cancel" />
            }
            @if(ShowSaveButton){
                <SDKButton form="@FormID" RenderStyle="SDKButtonRenderStyle.Primary" SubmitFormOnClick="true" ResourceTag="Action.Save"/>
            }
        </div>
    }
    @if(SetTopBar && !IsSubpanel)
    {
        <PageTitle><ResourceViewer ResourceTag="Action.Create" /> <ResourceViewer ResourceTag="@($"{BusinessName}.Singular")" /> | <ResourceViewer ResourceTag="Custom.Project.Name" /></PageTitle>
        <SetTopBar StyleName="toolbar_creation" HasExtraButtons="@HasExtraButtons" BusinessObj="@BusinessObj">
            <TopBarTitle><ResourceViewer ResourceTag="Action.Create" /> <ResourceViewer ResourceTag="@($"{BusinessName}.Singular")" /></TopBarTitle>
            <TopBarButtons>
                @if(SaveButton != null){
                    if(!SaveButton.Hidden){
                        <TopBarButton form="@FormID" SubmitFormOnClick="true" ResourceTag="Action.Save" IconCssClass="@GetSaveBtnIcon()" Enabled="@(!Saving && !SaveButton.Disabled)"/>
                    }
                }else{
                    <TopBarButton form="@FormID" SubmitFormOnClick="true" ResourceTag="Action.Save" IconCssClass="@GetSaveBtnIcon()" Enabled="@(!Saving)"  />
                }
            </TopBarButtons>
            <TopBarExtraButtons>
                @foreach (var btn in ExtraButtons.Where(x => string.IsNullOrEmpty(x.Id)))
                {
                    if(!btn.Hidden){
                        <TopBarButton Click="@(()=> { OnClickCustomButton(@btn); })" ResourceTag="@btn.ResourceTag" IconCssClass="@btn.IconClass" Enabled="@(!btn.Disabled)"/>
                    }
                }
            </TopBarExtraButtons>
        </SetTopBar>
    }

}

@code {
    protected override async Task InitView(string bName = null){
        await base.InitView(bName);

        if(Panels.Count > 1){
             foreach (var panel in Panels){
                 if(panel.SubViewdef != null && panel.SubViewdef.ParentField != ""){
                    string[] fieldPath = panel.SubViewdef.ParentField.Split('.');
                    object currentObject = BusinessObj;
                    for (int i = 0; i < fieldPath.Length; i++)
                    {
                        var tmpType = currentObject.GetType();
                        var tmpProperty = tmpType.GetProperty(fieldPath[i]);
                        var tmpValue = tmpProperty.GetValue(currentObject, null);
                        var isEntity = tmpProperty.PropertyType.IsSubclassOf(typeof(BaseSDK<>));
                        if (tmpValue == null && isEntity)
                        {
                            tmpValue = Activator.CreateInstance(tmpProperty.PropertyType);
                            tmpProperty.SetValue(currentObject, tmpValue);
                        }
                        currentObject = tmpValue;
                    }
                 }
             }
        }
    }

    public async Task ConfirmDelete(int Rowid)
    {
        var confirmDelete = await SDKDialogService.ShowConfirmDialog(@<div class="col-12 p-0"><ResourceViewer ResourceTag="Custom.Panel.AditionalFields.Message.ConfirmDelete"/></div>);
        if(confirmDelete != null && confirmDelete == true){
            bool deleteGroup = await DeleteGroup(Rowid);
            if(deleteGroup){
                var currentUrl = NavigationManager.Uri;
                NavigationService.NavigateTo(currentUrl, true);
            }
                
        }
    }

    public async Task ClickInAdd(int Rowid)
    {   
        var responseDynamicEntity = await BusinessObj.Backend.Call("GetDynamicEntity", Rowid);
        if(responseDynamicEntity != null && responseDynamicEntity.Success){
            dynamic dynamicEntity = responseDynamicEntity.Data;
            var modal = await SDKDialogService.ShowCustomDialog(ds =>@<AditionalFields Business="@BusinessObj" IsCreate="true" DynamicEntity="dynamicEntity"/>,
                    ShowTitle: false,
                    standardWidth: SDKModalWidth.Large,
                    CssClass: "aditional_fields_padding_0"
                );
            if(modal != null && modal == true){
                await ModalConfirmMessage(modal);
            }
        }
    }

    public async Task ClickInEdit(int Rowid)
    {
        var responseDynamicEntity = await BusinessObj.Backend.Call("GetDynamicEntity", Rowid);
        if(responseDynamicEntity != null && responseDynamicEntity.Success){
            dynamic dynamicEntity = responseDynamicEntity.Data;
            var modal = await SDKDialogService.ShowCustomDialog(ds =>@<AditionalFields Business="@BusinessObj" IsEdit="true" DynamicEntity="dynamicEntity"/>,
                    ShowTitle: false,
                    standardWidth: SDKModalWidth.Large,
                    CssClass: "aditional_fields_padding_0"
                );
            if(modal != null && modal == true){
                await ModalConfirmMessage(modal);
            }
        }
    }

    public async Task ModalConfirmMessage(bool response){
        var confirm = await SDKDialogService.ShowConfirmDialog(@<div class="col-12 p-0"><ResourceViewer ResourceTag="Custom.Panel.AditionalFields.Message.ConfirmMessage"/></div>);
        if(confirm != null && confirm == true){
            var currentUrl = NavigationManager.Uri;
            NavigationService.NavigateTo(currentUrl, true);
        }
    }
}