@using SDK.Components.Visualization
@using Siesa.SDK.Frontend.Components.Fields
@using Siesa.SDK.Frontend.Components.FormManager.Fields
@using System;
@using Siesa.SDK.Entities;
@using Siesa.SDK.Frontend.Application
@using Siesa.SDK.Frontend.Components.Visualization
@using Siesa.SDK.Shared.Services
@inject IResourceManager ResourceManager
@inject IAuthenticationService AuthenticationService

@inherits Siesa.SDK.Frontend.Components.FormManager.ViewModels.FormView

@if (Panels == null || Panels.Count <= 0)
{
    <ResourceViewer ResourceTag="SDK.ViewdefNotFound" />
}
else if (Loading == true)
{
    <ResourceViewer ResourceTag="Generic.Loading" />
}
else if (BusinessObj.BaseObj != null)
{
    @if(IsSubpanel){
        <h5><ResourceViewer ResourceTag="Action.Create" /> <ResourceViewer ResourceTag="@($"{BusinessName}.Singular")" /></h5>
        <hr />
    }
    <CascadingValue Value="@this">
    <EditForm id="@FormID"
              OnValidSubmit="@HandleValidSubmit"
              OnInvalidSubmit="@HandleInvalidSubmit"
              EditContext="@EditFormContext">
        <ObjectGraphDataAnnotationsValidator />
        <DxFormLayout CaptionPosition="CaptionPosition.Vertical">
            @if (Panels.Count > 1)
            {
                <DxFormLayoutTabPages>
                    @foreach (var panel in Panels)
                    {
                        <SDKFormLayoutTabPage ResourceTag="@panel.ResourceTag">
                            <CascadingValue Value="@EditFormContext">
                                <FieldsContainer Fields="@panel.Fields" SubViewdef="@panel.SubViewdef" DefaultColSize="@panel.ColSize" ModelObj="@BusinessObj" />
                            </CascadingValue>
                        </SDKFormLayoutTabPage>
                    }


                </DxFormLayoutTabPages>

            }
            else
            {
                <CascadingValue Value="@EditFormContext">
                    <FieldsContainer Fields="@Panels[0].Fields" SubViewdef="@Panels[0].SubViewdef" DefaultColSize="@Panels[0].ColSize" ModelObj="@BusinessObj" />
                </CascadingValue>

            }
        </DxFormLayout>
        <ValidationSummary />
        <label>@((MarkupString)ErrorMsg)</label>
    </EditForm>
    </CascadingValue>
    @if(IsSubpanel){
        <div class="buttons-container">
            @foreach (var btn in FormViewModel.Buttons)
            {
                <SDKButton RenderStyle="@btn.RenderStyle" RenderStyleMode="SDKButtonRenderStyleMode.Text" Click="@(()=> { OnClickCustomButton(@btn); })" ResourceTag="@btn.ResourceTag"  />
            }
            <SDKButton form="@FormID" RenderStyle="SDKButtonRenderStyle.Primary" RenderStyleMode="SDKButtonRenderStyleMode.Text" SubmitFormOnClick="true" ResourceTag="Generic.ActionSave" />
            <SDKButton RenderStyle="SDKButtonRenderStyle.Secondary" RenderStyleMode="SDKButtonRenderStyleMode.Text" Click="@((args) => dialogService.Close(false))" ResourceTag="Generic.ActionCancel" />
        </div>
    }
    @if(SetTopBar && !IsSubpanel)
    {
        <PageTitle><ResourceViewer ResourceTag="Action.Create" /> <ResourceViewer ResourceTag="@($"{BusinessName}.Singular")" /></PageTitle>
        <SetTopBar>
            <TopBarTitle><ResourceViewer ResourceTag="Action.Create" /> <ResourceViewer ResourceTag="@($"{BusinessName}.Singular")" /></TopBarTitle>
            <TopBarButtons>
                @foreach (var btn in FormViewModel.Buttons)
                {
                    <SDKButton RenderStyle="@btn.RenderStyle" RenderStyleMode="SDKButtonRenderStyleMode.Text" Click="@(()=> { OnClickCustomButton(@btn); })" ResourceTag="@btn.ResourceTag"  />
                }
                <SDKButton form="@FormID" RenderStyle="SDKButtonRenderStyle.Primary" RenderStyleMode="SDKButtonRenderStyleMode.Text" SubmitFormOnClick="true" ResourceTag="Generic.ActionSave" />
                <SDKButton RenderStyle="SDKButtonRenderStyle.Secondary"  RenderStyleMode="SDKButtonRenderStyleMode.Text" Click="GoToList" ResourceTag="Generic.ActionCancel" />
            </TopBarButtons>
        </SetTopBar>
    }

}

@code {
    protected override void InitView(string bName = null){
        base.InitView(bName);

        if(Panels.Count > 1){
             foreach (var panel in Panels){
                 if(panel.SubViewdef != null && panel.SubViewdef.ParentField != ""){
                     string[] fieldPath = panel.SubViewdef.ParentField.Split('.');
                    object currentObject = BusinessObj;
                    for (int i = 0; i < fieldPath.Length; i++)
                    {
                        var tmpType = currentObject.GetType();
                        var tmpProperty = tmpType.GetProperty(fieldPath[i]);
                        var tmpValue = tmpProperty.GetValue(currentObject, null);
                        var isEntity = tmpProperty.PropertyType.IsSubclassOf(typeof(BaseSDK<>));
                        if (tmpValue == null && isEntity)
                        {
                            tmpValue = Activator.CreateInstance(tmpProperty.PropertyType);
                            tmpProperty.SetValue(currentObject, tmpValue);
                        }
                        currentObject = tmpValue;
                    }
                 }
             }
        }
    }
}