@using Siesa.SDK.Frontend.Components.FormManager.Fields
<h2>Crear @BusinessName</h2>
@if (Paneles == null || Paneles.Count <= 0)
{
    <label>No hay definicion para la vista</label>
}
else if (Loading == true)
{
    <label>Cargando...</label>
}
else if (BusinessObj.BaseObj != null)
{
    <label>@ErrorMsg</label>


    <EditForm Model="@BusinessObj"
              OnValidSubmit="@HandleValidSubmit"
              OnInvalidSubmit="@HandleInvalidSubmit"
              Context="EditFormContext"
              >
        <ObjectGraphDataAnnotationsValidator />

        <DxButton RenderStyle="ButtonRenderStyle.Primary" SubmitFormOnClick="true" Text="Guardar" />
        <DxFormLayout CaptionPosition="CaptionPosition.Vertical">
            @if (Paneles.Count > 1)
            {
                <DxFormLayoutTabPages>
                    @foreach (var panel in Paneles)
                    {
                        <DxFormLayoutTabPage Caption="@panel.Label">
                            <FieldsContainer Fields="@panel.Fields" ModelObj="@BusinessObj" />
                        </DxFormLayoutTabPage>
                    }


                </DxFormLayoutTabPages>

            }
            else
            {
                <FieldsContainer Fields="@Paneles[0].Fields" ModelObj="@BusinessObj" />

            }
        </DxFormLayout>
        <ValidationSummary />
    </EditForm>

}
