@using SDK.Components.Visualization
@using Siesa.SDK.Frontend.Components.FormManager.Fields
@using Siesa.SDK.Frontend.Components.Layout.Detail.Relationship
@using Siesa.SDK.Frontend.Components.Visualization
@if (Panels == null || Panels.Count <= 0)
{
    <label>No hay definicion para la vista</label>
}
else if (ModelLoaded == true)
{
        @if(IsSubpanel){
            <h5>@BusinessObj</h5>
            <hr />
        }
        <DxFormLayout CaptionPosition="CaptionPosition.Vertical">

            @if (Panels.Count > 1)
            {
                <DxFormLayoutTabPages>
                    @foreach (var panel in Panels)
                    {
                        <DxFormLayoutTabPage Caption="@panel.Label">
                            <FieldsContainer Fields="@panel.Fields" SubViewdef="@panel.SubViewdef" ModelObj="@BusinessObj" DefaultColSize="@panel.ColSize" />
                        </DxFormLayoutTabPage>
                    }
                </DxFormLayoutTabPages>

            }
            else
            {
                <FieldsContainer Fields="@Panels[0].Fields" SubViewdef="@Panels[0].SubViewdef" ModelObj="@BusinessObj" DefaultColSize="@Panels[0].ColSize"/>

            }
        </DxFormLayout>
        <label>@((MarkupString)ErrorMsg)</label>
         @foreach (var rel in FormViewModel.Relationships)
            {
               <RelationshipPanel Relationship="@rel" Parent="@BusinessObj.BaseObj" />
            }
    @if(IsSubpanel){
        <div class="buttons-container">
            @foreach (var btn in FormViewModel.Buttons)
            {
                <SDKButton RenderStyle="@btn.RenderStyle" RenderStyleMode="SDKButtonRenderStyleMode.Text" Click="@(()=> { OnClickCustomButton(@btn); })" ResourceTag="@btn.ResourceTag" />
            }
            <SDKButton RenderStyle="SDKButtonRenderStyle.Danger" RenderStyleMode="SDKButtonRenderStyleMode.Text" Click="DeleteBusiness" ResourceTag="Generic.ActionDelete" />
            <SDKButton RenderStyle="SDKButtonRenderStyle.Secondary" RenderStyleMode="SDKButtonRenderStyleMode.Text" Click="@((args) => dialogService.Close(false))" ResourceTag="Generic.Close"/>
        </div>
    }
    @if(SetTopBar)
    {
        <PageTitle>@BusinessObj</PageTitle>
        <SetTopBar>
            <TopBarTitle>@BusinessObj</TopBarTitle>
            <TopBarButtons>
                @foreach (var btn in FormViewModel.Buttons)
                {
                    <SDKButton RenderStyle="@btn.RenderStyle" RenderStyleMode="SDKButtonRenderStyleMode.Text" Click="@(()=> { OnClickCustomButton(@btn); })" ResourceTag="@btn.ResourceTag" />
                }
                <SDKButton RenderStyle="SDKButtonRenderStyle.Primary" RenderStyleMode="SDKButtonRenderStyleMode.Text" Click="GoToCreate" ResourceTag="Generic.ActionCreate" />
                <SDKButton RenderStyle="SDKButtonRenderStyle.Primary" RenderStyleMode="SDKButtonRenderStyleMode.Text" Click="GoToEdit" ResourceTag="Generic.ActionEdit" />
                <SDKButton RenderStyle="SDKButtonRenderStyle.Info" RenderStyleMode="SDKButtonRenderStyleMode.Text" Click="GoToList" ResourceTag="Generic.ActionList" />
                <SDKButton RenderStyle="SDKButtonRenderStyle.Danger" RenderStyleMode="SDKButtonRenderStyleMode.Text" Click="DeleteBusiness" ResourceTag="Generic.ActionDelete" />
            </TopBarButtons>
        </SetTopBar>
    }
}