@using Siesa.SDK.Frontend.Components.FormManager.Fields
@using Siesa.SDK.Frontend.Components.Layout.Detail.Relationship
@if (Panels == null || Panels.Count <= 0)
{
    <label>No hay definicion para la vista</label>
}
else if (ModelLoaded == true)
{
        <DxFormLayout CaptionPosition="CaptionPosition.Vertical">

            @if (Panels.Count > 1)
            {
                <DxFormLayoutTabPages>
                    @foreach (var panel in Panels)
                    {
                        <DxFormLayoutTabPage Caption="@panel.Label">
                            <FieldsContainer Fields="@panel.Fields" SubViewdef="@panel.SubViewdef" ModelObj="@BusinessObj" DefaultColSize="@panel.ColSize" />
                        </DxFormLayoutTabPage>
                    }
                </DxFormLayoutTabPages>

            }
            else
            {
                <FieldsContainer Fields="@Panels[0].Fields" SubViewdef="@Panels[0].SubViewdef" ModelObj="@BusinessObj" DefaultColSize="@Panels[0].ColSize"/>

            }
        </DxFormLayout>
         @foreach (var rel in FormViewModel.Relationships)
            {
               <RelationshipPanel Relationship="@rel" ParentRowid="@BusinessObj.BaseObj.Rowid" />
            }
    <SetTopBar>
        <TopBarTitle>@BusinessObj</TopBarTitle>
        <TopBarButtons>
            <DxButton RenderStyle="ButtonRenderStyle.Primary" Click="GoToEdit" Text="Editar" />
            <DxButton RenderStyle="ButtonRenderStyle.Info" Click="GoToList" Text="Listar" />
            <DxButton RenderStyle="ButtonRenderStyle.Danger" Click="DeleteBusiness" Text="Eliminar" />
            @foreach (var btn in FormViewModel.Buttons)
            {
                <DxButton RenderStyle="@btn.RenderStyle" Click="@(()=> { OnClickCustomButton(@btn); })" Text="@btn.Label" />
            }
        </TopBarButtons>
    </SetTopBar>
}