@using Siesa.SDK.Frontend.Components.FormManager.Fields
@using Siesa.SDK.Frontend.Components.Layout.Detail.Relationship
@if (Panels == null || Panels.Count <= 0)
{
    <label>No hay definicion para la vista</label>
}
else if (ModelLoaded == true)
{
        @if(IsSubpanel){
            <h5>@BusinessObj</h5>
            <hr />
        }
        <DxFormLayout CaptionPosition="CaptionPosition.Vertical">

            @if (Panels.Count > 1)
            {
                <DxFormLayoutTabPages>
                    @foreach (var panel in Panels)
                    {
                        <DxFormLayoutTabPage Caption="@panel.Label">
                            <FieldsContainer Fields="@panel.Fields" SubViewdef="@panel.SubViewdef" ModelObj="@BusinessObj" DefaultColSize="@panel.ColSize" />
                        </DxFormLayoutTabPage>
                    }
                </DxFormLayoutTabPages>

            }
            else
            {
                <FieldsContainer Fields="@Panels[0].Fields" SubViewdef="@Panels[0].SubViewdef" ModelObj="@BusinessObj" DefaultColSize="@Panels[0].ColSize"/>

            }
        </DxFormLayout>
         @foreach (var rel in FormViewModel.Relationships)
            {
               <RelationshipPanel Relationship="@rel" Parent="@BusinessObj.BaseObj" />
            }
    @if(IsSubpanel){
        <div class="buttons-container">
            @foreach (var btn in FormViewModel.Buttons)
            {
                <DxButton RenderStyle="@btn.RenderStyle" RenderStyleMode="ButtonRenderStyleMode.Text" Click="@(()=> { OnClickCustomButton(@btn); })" Text="@btn.Label" />
            }
            <DxButton RenderStyle="ButtonRenderStyle.Danger" RenderStyleMode="ButtonRenderStyleMode.Text" Click="DeleteBusiness" Text="Eliminar" />
            <DxButton RenderStyle="ButtonRenderStyle.Secondary" RenderStyleMode="ButtonRenderStyleMode.Text" Click="@((args) => dialogService.Close(false))" Text="Cerrar" />
        </div>
    }
    @if(SetTopBar)
    {
        <PageTitle>@BusinessObj</PageTitle>
        <SetTopBar>
            <TopBarTitle>@BusinessObj</TopBarTitle>
            <TopBarButtons>
                @foreach (var btn in FormViewModel.Buttons)
                {
                    <DxButton RenderStyle="@btn.RenderStyle" RenderStyleMode="ButtonRenderStyleMode.Text" Click="@(()=> { OnClickCustomButton(@btn); })" Text="@btn.Label" />
                }
                <DxButton RenderStyle="ButtonRenderStyle.Primary" RenderStyleMode="ButtonRenderStyleMode.Text"
                Click="GoToCreate" Text="Crear" />
                <DxButton RenderStyle="ButtonRenderStyle.Primary" RenderStyleMode="ButtonRenderStyleMode.Text" Click="GoToEdit" Text="Editar" />
                <DxButton RenderStyle="ButtonRenderStyle.Info" RenderStyleMode="ButtonRenderStyleMode.Text" Click="GoToList" Text="Listar" />
                <DxButton RenderStyle="ButtonRenderStyle.Danger" RenderStyleMode="ButtonRenderStyleMode.Text" Click="DeleteBusiness" Text="Eliminar" />
            </TopBarButtons>
        </SetTopBar>
    }
}