@using Siesa.SDK.Frontend.Components.FormManager.Fields
@if (Paneles == null || Paneles.Count <= 0)
{
    <label>No hay definicion para la vista</label>
}
else if (ModelLoaded == true)
{
    <DxFormLayout CaptionPosition="CaptionPosition.Vertical">

        @if (Paneles.Count > 1)
        {
            <DxFormLayoutTabPages>
                @foreach (var panel in Paneles)
                {
                    <DxFormLayoutTabPage Caption="@panel.Label">
                        <FieldsContainer Fields="@panel.Fields" ModelObj="@BusinessObj" />
                    </DxFormLayoutTabPage>
                }
            </DxFormLayoutTabPages>

        }
        else
        {
            <FieldsContainer Fields="@Paneles[0].Fields" ModelObj="@BusinessObj" />

        }
    </DxFormLayout>
    <SetTopBar>
        <TopBarTitle>@BusinessObj</TopBarTitle>
        <TopBarButtons>
            <DxButton RenderStyle="ButtonRenderStyle.Primary" Click="GoToEdit" Text="Editar" />
            <DxButton RenderStyle="ButtonRenderStyle.Info" Click="GoToList" Text="Listar" />
            <DxButton RenderStyle="ButtonRenderStyle.Danger" Click="DeleteBusiness" Text="Eliminar" />
        </TopBarButtons>
    </SetTopBar>
}