@using Siesa.SDK.Frontend.Components.FormManager.Fields
@inherits Siesa.SDK.Frontend.Components.FormManager.ViewModels.FormView
@if (Paneles == null || Paneles.Count <= 0)
{
    <label>No hay definicion para la vista</label>
}
else if (Loading == true)
{
    <label>Cargando...</label>
}
else if (BusinessObj.BaseObj.RowID != 0)
{
    <EditForm id="@FormID"
              OnValidSubmit="@HandleValidSubmit"
              OnInvalidSubmit="@HandleInvalidSubmit"
              EditContext="@EditFormContext">
        <ObjectGraphDataAnnotationsValidator />
        <DxFormLayout CaptionPosition="CaptionPosition.Vertical">
            @if (Paneles.Count > 1)
            {
                <DxFormLayoutTabPages>
                    @foreach (var panel in Paneles)
                    {
                        <DxFormLayoutTabPage Caption="@panel.Label">
                            <CascadingValue Value="@EditFormContext">
                                <FieldsContainer Fields="@panel.Fields" ModelObj="@BusinessObj" />
                            </CascadingValue>
                        </DxFormLayoutTabPage>
                    }


                </DxFormLayoutTabPages>

            }
            else
            {
                <CascadingValue Value="@EditFormContext">
                    <FieldsContainer Fields="@Paneles[0].Fields" ModelObj="@BusinessObj" />
                </CascadingValue>

            }
        </DxFormLayout>
        <ValidationSummary />
        <label>@ErrorMsg</label>
    </EditForm>
    <SetTopBar>
        <TopBarTitle>Editar @BusinessObj</TopBarTitle>
        <TopBarButtons>
            <DxButton form="@FormID" RenderStyle="ButtonRenderStyle.Primary" SubmitFormOnClick="true" Text="Guardar" />
            <DxButton RenderStyle="ButtonRenderStyle.Secondary" Click="GoToList" Text="Cancelar" />
        </TopBarButtons>
    </SetTopBar>

}
