@using SDK.Components.Visualization
@using Siesa.SDK.Frontend.Components.Fields
@using Siesa.SDK.Frontend.Components.FormManager.Fields
@inherits Siesa.SDK.Frontend.Components.FormManager.ViewModels.FormView
@using Siesa.SDK.Frontend.Components.Layout.Detail.Relationship
@using Siesa.SDK.Frontend.Components.Visualization
@if (Panels == null || Panels.Count <= 0)
{
    <ResourceViewer ResourceTag="SDK.ViewdefNotFound" />
}
else if (Loading == true)
{
    <ResourceViewer ResourceTag="Generic.Loading" />
}
else if (BusinessObj != null)
{
    <CascadingValue Value="@this">
        <EditForm id="@FormID" OnValidSubmit="@HandleValidSubmit" OnInvalidSubmit="@HandleInvalidSubmit"
        EditContext="@EditFormContext">
            <ObjectGraphDataAnnotationsValidator />
            <DxFormLayout CaptionPosition="CaptionPosition.Vertical">
                <CascadingValue Value="@EditFormContext">
                    <FieldsContainer Fields="@Panels[0].Fields" SubViewdef="@Panels[0].SubViewdef"
                    DefaultColSize="@Panels[0].ColSize" ModelObj="@BusinessObj" />
                </CascadingValue>
            </DxFormLayout>
            <ValidationSummary />
            <label>@((MarkupString)ErrorMsg)</label>
        </EditForm>
        @if (FormViewModel.Relationships.Count > 0)
        {
            <DxFormLayout CaptionPosition="CaptionPosition.Vertical">
                <DxFormLayoutTabPages>
                    @foreach (var rel in FormViewModel.Relationships)
                    {
                        <SDKFormLayoutTabPage ResourceTag="@rel.ResourceTag">
                            <RelationshipPanel Relationship="@rel" Parent="@BusinessObj.BaseObj" ShowHeader="false" />
                        </SDKFormLayoutTabPage>
                    }
                </DxFormLayoutTabPages>
            </DxFormLayout>

        }
    </CascadingValue>
    <PageTitle><ResourceViewer ResourceTag=@Title /></PageTitle>
    <SetTopBar>
        <TopBarTitle><ResourceViewer ResourceTag=@Title /></TopBarTitle>
        <TopBarButtons>
            @foreach (var btn in FormViewModel.Buttons)
            {
                <TopBarButton Click="@(()=> { OnClickCustomButton(@btn); })" ResourceTag="@btn.ResourceTag" />
            }
            <TopBarButton 
                Click="GetFirstRowid" ResourceTag="Action.First" IconCssClass="fa-solid fa-backward-fast" />
            <TopBarButton 
                Click="GetPreviousRowid" ResourceTag="Action.Back" IconCssClass="fa-solid fa-backward"  />
            <TopBarButton 
                Click="GetNextRowid" ResourceTag="Action.Next" IconCssClass="fa-solid fa-forward" />
            <TopBarButton 
                Click="GetLastRowid" ResourceTag="Action.Last" IconCssClass="fa-solid fa-forward-fast"  />

        </TopBarButtons>
    </SetTopBar>

}

@code{
    private async void GetFirstRowid()
    {
        await BusinessObj.GetFirstRowid();
        StateHasChanged();
    }

    private async void GetPreviousRowid()
    {
        await BusinessObj.GetPreviousRowid();
        StateHasChanged();
    }

    private async void GetNextRowid()
    {
        await BusinessObj.GetNextRowid();
        StateHasChanged();
    }

    private async void GetLastRowid()
    {
        await BusinessObj.GetLastRowid();
        StateHasChanged();
    }
}
