@using Siesa.SDK.Frontend.Components.FormManager.Fields
@using Siesa.SDK.Entities;
@if (ErrorMsg != "")
{
    <label>@ErrorMsg</label>
}
else
{

    <RadzenDataGrid 
            AllowFiltering="true" 
            FilterCaseSensitivity="FilterCaseSensitivity.CaseInsensitive" 
            FilterMode="FilterMode.Advanced"
            AllowPaging="true" 
            PageSize="ListViewModel.Paging.PageSize" 
            PagerHorizontalAlign="HorizontalAlign.Center" 
            AllowSorting="true" 
            Data="@data" 
            TItem="object"
            IsLoading="@Loading" 
            @ref="@_gridRef"
            Count="@count" 
            LoadData="@LoadData"
            ShowPagingSummary="true"
            PageSizeOptions="ListViewModel.Paging.AllowedPageSizes"
            @key="needUpdate"

>
        <Columns>
            @BuildColumns()
        </Columns>
    </RadzenDataGrid>

    <SetTopBar>
        <TopBarTitle>@BusinessName</TopBarTitle>
        <TopBarButtons>
            <DxButton RenderStyle="ButtonRenderStyle.Primary" RenderStyleMode="ButtonRenderStyleMode.Text" Click="GoToCreate" Text="Crear" />
        </TopBarButtons>
    </SetTopBar>
}