@using Siesa.SDK.Frontend.Components.FormManager.Fields
@using Siesa.SDK.Entities;
@if (ErrorMsg != "")
{
    <label>@ErrorMsg</label>
}
else
{
    <DxDataGrid T="@object"
                 @ref="@_gridRef"
                CustomData="@LoadData"
                ShowFilterRow="true"
                ShowPager="true"
                PagerNavigationMode="PagerNavigationMode.InputBox"
                PagerPageSizeSelectorVisible="true"
                PagerAllDataRowsItemVisible="true"
                PagerAllowedPageSizes="ListViewModel.Paging.AllowedPageSizes"
                PageSize="ListViewModel.Paging.PageSize"
                ColumnResizeMode="DataGridColumnResizeMode.Component">
        <DxDataGridColumn Field="Actions" AllowSort="false" Width="90px" Caption="Acciones" TextAlignment="DataGridTextAlign.Center">
            <DisplayTemplate>
                <div class="action-buttons">
                    <button class="btn btn-link grid-btn-link" @onclick="() => GoToEdit(((BaseEntity)context).Rowid)"><span class="oi oi-pencil"></span></button>
                    <button class="btn btn-link grid-btn-link" @onclick="() => GoToDetail(((BaseEntity)context).Rowid)"><span class="oi oi-eye"></span></button>
                </div>
            </DisplayTemplate>
        </DxDataGridColumn>
        @BuildColumns();
    </DxDataGrid>

    <SetTopBar>
        <TopBarTitle>@BusinessName</TopBarTitle>
        <TopBarButtons>
            <DxButton RenderStyle="ButtonRenderStyle.Primary" RenderStyleMode="ButtonRenderStyleMode.Text" Click="GoToCreate" Text="Crear" />
        </TopBarButtons>
    </SetTopBar>
}